<div id="advisory-settings-div">
    <div class="cont45">
        <div class="grid-12-xs last caracteristicas margintop">
            <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="grid-12-xs last text-center topcar">
                <p class="helvetica-bold">Elige el tipo de Asesoría</p>
            </div>
            <div class="grid-12-xs last bottomcar">
                <form #advisoryForm="ngForm">
                    <div class="cont90">

                        <div class="grid-12-xs last acabados-adicionales" style="margin-bottom:3rem;">
                            <div id="acabados-adicionales-titulo">
                                <h4>Tipo de asesoría</h4>
                            </div>

                            <div class="grid-12-xs">
                                <div class="grid-6-xs">
                                    <p>Asesoría en escala</p>
                                    <input id="asesoria-escala-{{ countDocs }}" type="checkbox" [(ngModel)]="advisorySettings.asesoria_escala" name="asesoria_escala"
                                        class="css-checkbox" />
                                    <label [attr.for]="'asesoria-escala-'+countDocs" class="css-label-check"></label>
                                </div>
                                <div class="grid-6-xs last">
                                    <p>Asesoría en ajuste de color</p>
                                    <input id="asesoria-color-{{ countDocs }}" type="checkbox" [(ngModel)]="advisorySettings.asesoria_color" name="asesoria_color"
                                        class="css-checkbox" />
                                    <label [attr.for]="'asesoria-color-'+countDocs" class="css-label-check"></label>
                                </div>
                            </div>

                        </div>

                        <div class="grid-12-xs last">
                            <div id="acabados-adicionales-titulo">
                                <h4>Instrucciones adicionales</h4>
                            </div>
                            <textarea [(ngModel)]="advisorySettings.userInstructions" name="instrucciones" id="instrucciones" cols="30" rows="3"></textarea>
                        </div>

                        <div id="upload-bottom-buttons-container" class="grid-10-xs last">
                            <p class="grid-12-xs text-center" style="font-size: 0.8rem;">* Completa los campos requeridos</p>
                            <div class="grid-6-xs" *ngIf="errorForm">
                                <a id="continue-to-quote" class="continue-button helvetica-bold disabled">Subir archivo</a>
                            </div>
                            <div class="grid-6-xs" *ngIf="!errorForm">
                                <!-- <input id="file-upload-input" type="file" (change)="fileChangeEvent($event)" accept=".psd, .ai, .dwg"> -->
                                <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="saveSettings()">Subir archivo</a>
                            </div>
                            <div class="grid-6-xs last">
                                <a id="start-over-button" class="anadirarchivo helvetica-bold" (click)="close()">Cancelar</a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>