<header>
  <div class="grid-12-xs last innerheader">
    <div class="cont95">
      <div class="grid-4-xs navbar-left-items-container">
        <i id="iconmenu" class="icon-hamburger"></i>
        <a *ngIf="viewportWidth >= 900" [routerLink]="['/']"><img id="logohead" src="{{colorService.logo}}"></a>
        <a *ngIf="viewportWidth < 900" [routerLink]="['/']"><img id="logohead" src="img/logosymbol.png"></a>
      </div>
      <div class="grid-8-xs socialheaderight last text-right">
        <i id="user-login-item">
          <p class="user-order" *ngIf="auth.authenticated()" (click)="router.navigate(['/mis-pedidos']);">Mis pedidos</p>
          <p class="user-login-name" *ngIf="!auth.authenticated()" (click)="auth.login()">Iniciar sesión</p>
          <p class="user-login-name" *ngIf="auth.authenticated()" (click)="toggleDropdown()">
            {{viewportWidth >= 900 ? auth.userProfile?.name : (auth.userProfile?.name | initials)}}
            <strong *ngIf="auth.isAdmin()">
              {{viewportWidth >= 900 ? '[Admin]' : '[A]'}}</strong></p>
          <img src="img/login.svg" id="login-svg" (click)="!auth.authenticated() ? auth.login() : toggleDropdown()">

          <div *ngIf="userDropdownOpen" id="user-options-dropdown">
            <li *ngIf="auth.isAdmin()" (click)="router.navigate(['/dashboard']); toggleDropdown();">Ir al
              Dashboard
            </li>
            <li *ngIf="auth.isAdmin()" (click)="router.navigate(['/products']); toggleDropdown();">Administrar productos
            </li>
            <li *ngIf="auth.isAdmin()" (click)="router.navigate(['/promo-codes']); toggleDropdown();">Administrar códigos de promoción
            </li>
            <!-- <li *ngIf="auth.isAdmin()" (click)="router.navigate(['/places-delivery']); toggleDropdown();">Administrar Lugares de Entrega
            </li> -->
            <li *ngIf="auth.isAdmin()" (click)="router.navigate(['/videos']); toggleDropdown();">Administrar Videos</li>
            <li (click)="auth.logout(); toggleDropdown();" *ngIf="auth.authenticated()">Cerrar sesión</li>
          </div>
        </i>
        <a target="_blank" href="https://www.facebook.com/printadelivery/"><i class="icon-social-facebook"></i></a>
        <a id="top-instagram-logo" target="_blank" href="https://www.instagram.com/printadelivery/">
          <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Flat_copy">
              <path fill="#333" d="M28,0H4C1.741,0,0,1.741,0,4v24c0,2.258,1.741,4,4,4h24c2.258,0,4-1.742,4-4V4C32,1.741,30.258,0,28,0z M16.023,9.714   c3.549,0,6.425,2.787,6.425,6.226c0,3.437-2.876,6.226-6.425,6.226c-3.546,0-6.423-2.789-6.423-6.226   C9.601,12.501,12.478,9.714,16.023,9.714z M28,27c0,0.701-0.3,1-1,1H5c-0.699,0-1-0.299-1-1V13l2.493,0.542   c-0.267,0.87-0.413,1.79-0.413,2.745c0,5.318,4.454,9.634,9.943,9.634c5.492,0,9.944-4.315,9.944-9.634   c0-0.955-0.145-1.875-0.412-2.745L28,13V27z M28,9c0,0.553-0.447,1-1,1h-4c-0.553,0-1-0.447-1-1V5c0-0.553,0.447-1,1-1h4   c0.553,0,1,0.447,1,1V9z"
              />
            </g>
          </svg>
        </a>
        <!--<a target="_blank" href=""><i class="icon-social-dribbble"></i></a>-->
        <i *ngIf="!colorService.toggle" id="color-switch" class="icon-switch-left" (click)="colorService.toggleColor()"></i>
        <i *ngIf="colorService.toggle" id="color-switch" class="icon-switch-right" (click)="colorService.toggleColor()"></i>
      </div>
    </div>
  </div>
  <div class="grid-12-xs last usechrome text-center" *ngIf="isFirefox">
    <p><img src="img/warning.svg" class="alertimage"> Si quieres tener una mejor experiencia te recomendamos utilizar <a href="https://www.google.com/chrome/browser/desktop/"
      target="_blank" class="helvetica-bold">Google Chrome</a>.</p>
    <div class="closebtn" (click)="isFirefox = false">
      <svg fill="#FFFFFF" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </div>
  </div>
  <div id="menu">
    <div id="menu-container">
      <div class="cont85">
        <p class="bigtitle helvetica-bold">Menú</p>
      </div>
      <a [routerLink]="['/home']" [routerLinkActive]="['sel']">Inicio</a>
      <a *ngIf="auth.isAdmin()" [routerLink]="['/dashboard']" [routerLinkActive]="['sel']">Dashboard</a>
      <a *ngIf="auth.isAdmin()" [routerLink]="['/products']" [routerLinkActive]="['sel']">Administrar productos</a>
      <a *ngIf="auth.isAdmin()" [routerLink]="['/promo-codes']" [routerLinkActive]="['sel']">Administrar códigos de promoción</a>
      <!-- <a *ngIf="auth.isAdmin()" [routerLink]="['/places-delivery']" [routerLinkActive]="['sel']">Administrar Lugares de Entrega</a> -->
      <!--<a *ngIf="auth.isAdmin()" [routerLink]="['/videos']" [routerLinkActive]="['sel']">Administrar Videos</a>-->

      <a *ngIf="auth.authenticated()" [routerLink]="['/mis-pedidos']" [routerLinkActive]="['sel']">Mis Pedidos</a>
      <a [routerLink]="['/proximamente']" [routerLinkActive]="['sel']">Portafolio</a>
      <a [routerLink]="['/faq']" [routerLinkActive]="['sel']">Preguntas</a>
      <a [routerLink]="['/corporativo']" [routerLinkActive]="['sel']">Corporativo</a>
      <a href="http://blog.printadelivery.com">Blog</a>
      <a (click)="scrollVideos()">Videos</a>
      <a (click)="scrollContacto()">Contacto</a>
      <a [routerLink]="['/terminos']" [routerLinkActive]="['sel']">Términos y Condiciones</a>
      <a target="_blank" class="linksocial" href="https://www.facebook.com/printadelivery/"><i class="icon-social-facebook"></i></a>
      <a target="_blank" id="menu-instagram-logo" class="linksocial" href="https://www.instagram.com/printadelivery/">
        <svg enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Flat_copy">
            <path d="M28,0H4C1.741,0,0,1.741,0,4v24c0,2.258,1.741,4,4,4h24c2.258,0,4-1.742,4-4V4C32,1.741,30.258,0,28,0z M16.023,9.714   c3.549,0,6.425,2.787,6.425,6.226c0,3.437-2.876,6.226-6.425,6.226c-3.546,0-6.423-2.789-6.423-6.226   C9.601,12.501,12.478,9.714,16.023,9.714z M28,27c0,0.701-0.3,1-1,1H5c-0.699,0-1-0.299-1-1V13l2.493,0.542   c-0.267,0.87-0.413,1.79-0.413,2.745c0,5.318,4.454,9.634,9.943,9.634c5.492,0,9.944-4.315,9.944-9.634   c0-0.955-0.145-1.875-0.412-2.745L28,13V27z M28,9c0,0.553-0.447,1-1,1h-4c-0.553,0-1-0.447-1-1V5c0-0.553,0.447-1,1-1h4   c0.553,0,1,0.447,1,1V9z"
            />
          </g>
        </svg>
      </a>
      <a id="menu-log-out" (click)="auth.logout()" *ngIf="auth.authenticated()">Cerrar sesión</a>
    </div>
  </div>
</header>

<!-- Add your site or application content here -->
<div class="maincontent">
  <router-outlet></router-outlet>
</div>

<footer class="grid-12-xs last" style="padding-top: 0;">
  <!--<div class="grid-12-xs last text-center bajardudas">-->
  <!--<p class="text-center dudasbajar">¿Tienes dudas?</p>-->
  <!--<i class="icon-arrow-down-thick"></i>-->
  <!--</div>-->
  <div [class.colored]="colorService.colored" class="grid-12-xs secondfooter text-center last">
    <div class="cont90">
      <div class="grid-12-xs anchors last">
        <a [routerLink]="['/home']">Inicio</a>
        <span>|</span>
        <a [routerLink]="['/proximamente']">Portafolio</a>
        <span>|</span>
        <a [routerLink]="['/faq']">Preguntas</a>
        <span>|</span>
        <a [routerLink]="['/corporativo']">Corporativo</a>
        <span>|</span>
        <a href="http://blog.printadelivery.com">Blog</a>
        <span>|</span>
        <a (click)="scrollVideos()">Videos</a>
        <span>|</span>
        <a (click)="scrollContacto()">Contacto</a>
        <span>|</span>
        <a [routerLink]="['/terminos']">Términos y Condiciones</a>
      </div>
      <p>2016 Printa. All Rights Reserved.</p>
      <p>Designed by <a href="http://estudiocodesign.com">Estudio Codesign</a></p>
    </div>
  </div>
</footer>