<div class="grid-12-xs last" id="boxwhite">
    <div class="grid-7-xs text-center">
        <img src="img/PrintaBrandingLow.png">
    </div>
    <div class="grid-4-xs">

        <div class="grid-11-xs tipscont corporate last">
            <div class="sel grid-12-xs last">
                <p class="title helvetica-bold">Servicio de impresión para empresas:</p>
                <div class="pselleft"></div>
            </div>
        </div>
        <div class="grid-1-xs last palocont palocontcorp">
            <div class="palo"></div>
        </div>

        <div class="grid-11-xs corporate tipscont">
            <p class="text">Somos aliados de empresas con poco tiempo, nos dedicamos a prestar servicios de impresión y corte laser a
                domicilio, para que cada segundo sea aprovechado en generar ideas y no desperdiciado en tarea operativas.
                imprimimos:<br><br> Pendones

                <br> Plegables/catálogos
                <br> Flyers
                <br> Etiquetas
                <br> Tarjetas de presentación <br> Material POP <br> Botones <br> Carpetas
            </p>
        </div>
        <div class="grid-1-xs last palocont">
        </div>
        
        <div class="grid-12-xs contbuttons last">
            <div class="grid-2-xs-left grid-5-xs">
                <a (click)="navigateToPrintType('normal')" class="anadirarchivo home helvetica-bold">Imprimir</a>
            </div>
            <div class="grid-5-xs">
                <a (click)="navigateToPrintType('laser')" class="anadirarchivo home helvetica-bold">Cortar</a>
            </div>
        </div>

    </div>
</div>

<videos-cont></videos-cont>

<div class="grid-12-xs last text-center masinfo">
    <img src="img/questions.png" id="questions">
    <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
    <p>(+57) 311-518-9002 / (+57) 744 3279</p>
    <p>contacto@printadelivery.com</p>
</div>