<div id="detallesdiv" *ngIf="order">
  <div class="cont60">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv"></i>
        <p class="helvetica-bold">Información Cliente</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          <div class="grid-6-m">
            <p class="bigtitle blackcolor helvetica-bold">Datos.</p>
            <div class="grid-12-xs last infopersona">
              <span>{{ order.owner.name }}</span>
            </div>
            <div class="grid-12-xs last infopersona">
              <span>{{ order.owner.email }}</span>
            </div>
            <div class="grid-12-xs last infopersona">
              <span>{{ order.owner.phone_number }}</span>
            </div>
            <div class="grid-12-xs last infopersona">
              <span>{{ order.owner.cedula }}</span>
            </div>
            <div *ngIf="order.promoCode" class="grid-12-xs last infopersona">
              <h4>Esta orden tiene un descuento!</h4>
              <b>Tipo:</b> {{order.discountType ? 'Fijo' : 'Porcentaje' }}<br>
              <b>Valor:</b> {{order.discountType ? (order.discountAmount | currency:'COP')
              : order.discountAmount + '%'}}
            </div>
          </div>
          <div class="grid-6-m last">
            <p class="bigtitle blackcolor helvetica-bold">Lugar de Entrega.</p>
            <div class="grid-12-xs last infopersona">
              <span>{{order.deliveryType}}</span>
            </div>
            <div class="grid-12-xs last infopersona">
              <span>{{order.deliveryLocation}} {{order.deliveryType === 'universidad' ? order.deliveryTime : ''}}</span>
            </div>
            <p>Precio del Envío {{order.deliveryPrice}}</p>
            <form>
              <input *ngIf="order.deliveryType === 'casa'" [(ngModel)]="order.shippingCost" (ngModelChange)="onShippingCostChange($event)" type="number"
                     name="precio" class="font24" placeholder="Ingresa Precio">

              <input *ngIf="order.deliveryType === 'universidad'" [(ngModel)]="order.shippingCost" (ngModelChange)="onShippingCostChange($event)" type="number"
                     name="precio" class="font24" [value]="order.shippingCost">

              <input id="save-shipping-price" type="submit" value="Guardar Precio">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
