<div id="archivosdiv" *ngIf="documents">
  <div class="cont75">
    <div class="grid-12-xs last caracteristicas margintop marginbottom">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closearchivosdiv"></i>
        <p class="helvetica-bold">Archivos ({{documents.length}}) [{{totalDocumentsSize | round: 2}} MB]</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="grid-2-xs-left grid-9-xs last">
          <div class="cont90" style="display: flex;align-items: center;">
            <h3 class="helvetica-bold inline">Tiempo Total Estimado de Cotización:</h3>
            <form class="quote-time"><input [(ngModel)]="quoteTime" type="number" placeholder="Minutos Estimados"
                                            name="minutos"><input
                (click)="quoteTimeChanged();" type="submit" value="Enviar" name="enviar-minutos"></form>
          </div>
        </div>
        <div *ngIf="order?.specialPromotions?.numRelajaLaPelvis > 0">
          <div class="grid-12-xs last">
            <div class="cont90">
              <h4>Boletas - Relaja la Pelvis</h4>
              <p>{{order?.specialPromotions?.numRelajaLaPelvis}} x Boleta - Relaja la Pelvis</p>
              <hr>
            </div>
          </div>
        </div>
        <div *ngFor="let document of documents">
          <div class="grid-12-xs last">
            <div class="cont90">
              <div class="grid-8-m">
                <div class="grid-12-m">
                  <h4>Tipo</h4>
                  <p class="text-first-capital helvetica-bold blackcolor">{{ document.printSettings.type }}</p>
                </div>

                <!--info panel for normal print-->
                <div *ngIf="document.printSettings.type === 'normal'" id="print-info-container">

                  <div class="grid-4-m">
                    <p>Color</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.color }}</p>
                  </div>
                  <div class="grid-4-m">
                    <p>Tipo de Papel</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                  <div class="grid-4-m last">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>

                  <div class="grid-4-m">
                    <p>Tamaño</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.size }}</p>
                  </div>
                  <div class="grid-4-m">
                    <p>Gramaje</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.grams }}</p>
                  </div>
                  <div class="grid-4-xs last">
                    <p>Tiro y retiro</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.tiro ? 'Sí' : 'No' }}</p>
                  </div>

                  <div *ngIf="document.printSettings.additionals.paperColor" class="grid-12-xs last">
                    <h4>Características del papel</h4>
                    <div class="grid-6-xs">
                      <p>Color del Papel</p>
                      <p class="helvetica-bold blackcolor">{{ document.printSettings.additionals.paperColor }}</p>
                    </div>
                    <div class="grid-6-xs last">
                      <p>Acabado del Papel</p>
                      <p class="helvetica-bold blackcolor">{{ document.printSettings.additionals.paperFinish }}</p>
                    </div>
                  </div>
                </div>

                <!--muestra de datos para vinilo de corte-->
                <div *ngIf="document.printSettings.type === 'vinilo'" id="vinyl-info-container">
                  <div class="grid-6-m">
                    <p>Color del Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.color }}</p>
                  </div>
                  <div class="grid-6-m last">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>
                  <div class="grid-12-m">
                    <p>Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                </div>

                <!--muestra de datos para corte laser-->
                <div *ngIf="document.printSettings.type === 'laser'" id="laser-info-container">
                  <div class="grid-4-m">
                    <p>Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                  <div class="grid-4-m">
                    <p>Color del Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.color }}</p>
                  </div>
                  <div class="grid-4-m last">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>

                  <div class="grid-6-m">
                    <p>Tamaño máx</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.size }}</p>
                  </div>
                  <div class="grid-6-m last">
                    <p>Espesor</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.grams }}</p>
                  </div>
                </div>

                <!--info de acabados adicionales-->
                <div *ngIf="document.printSettings.additionalFinishes.redBull > 0 ||
                            document.printSettings.additionalFinishes.respaldoFoamboard ||
                            document.printSettings.additionalFinishes.respaldoCarton ||
                            document.printSettings.additionalFinishes.recorte||
                            document.printSettings.additionalFinishes.encuadernado||
                            document.printSettings.additionalFinishes.anillado||
                            document.printSettings.additionalFinishes.asesoria_escala||
                            document.printSettings.additionalFinishes.asesoria_color" class="grid-12-xs last">
                  <h4>Acabados adicionales (opcionales)</h4>
                  <ul>
                    <!--<li *ngIf="document.printSettings.additionalFinishes.redBull > 0">
                      {{document.printSettings.additionalFinishes.redBull}} RedBull
                    </li>-->
                    <li *ngIf="document.printSettings.additionalFinishes.respaldoFoamboard">
                      Respaldo de Foamboard
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.respaldoCarton">
                      Respaldo de Cartón
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.recorte">
                      Recorte
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.encuadernado">
                      Encuadernado
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.anillado">
                      Anillado
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.asesoria_escala">
                      Asesoría en escala 
                    </li>
                    <li *ngIf="document.printSettings.additionalFinishes.asesoria_color">
                      Asesoría en ajuste de color
                    </li>
                  </ul>
                </div>

                <!--info de instrucciones de usuario-->
                <div *ngIf="document.printSettings.additionalFinishes.userInstructions" class="grid-12-xs last">
                  <h4>Instrucciones adicionales</h4>
                  <p>{{document.printSettings.additionalFinishes.userInstructions}}</p>
                </div>
              </div>
              <div class="grid-4-m last">
                
                <div class="settings-doc-preview" [class.pdf]="document.format == 'pdf'" [class.psd]="document.format == 'psd'" [class.ai]="document.format == 'ai'" [class.dwg]="document.format == 'dwg'" (click)="openFile(document.server_filename, document.format)"></div>
                <div class="grid-4-m-left grid-5-m last">
                  <a class="descargarDoc text-center helvetica-bold" *ngIf="document.format == 'psd' || document.format == 'dwg'" href="/uploads/{{document.server_filename}}" target="_blank" download="{{document.name}}">descargar</a>
                </div>
                <div class="grid-12-m last">  
                  <p class="text-center helvetica-bold blackcolor">{{ document.name | truncate:33 }}</p>
                  <p class="text-center">Peso: <span class="helvetica-bold blackcolor">{{ document.fileSize / 1000000 | round:2 }}MB</span></p>
                  <p class="text-center">Páginas: <span class="helvetica-bold blackcolor">{{ document.filePages }}</span></p>
                </div>


                <div class="grid-12-xs last margintop">
                  <p>Precio del Archivo</p>
                  <form>
                    <input [(ngModel)]="document.price" type="number"
                           name="precio" class="font24" placeholder="Ingresa Precio">
                    <input (click)="saveDocumentPrice();" type="submit" id="save-document-price" value="Guardar Precio" name="guardar-precio">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="documents.length > 1" class="grid-12-xs last">
            <div class="cont90">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
