<steps-menu></steps-menu>
<settings [document]="selectedDocument" *ngIf="selectedDocument" (settings)="updateOrder($event)"></settings>
<div class="paso1 grid-12-xs last">
    <div class="cont90">
        <div class="grid-12-xs last">
            
            <form [formGroup]="dataForm" class="upload-data-form">
                <div class="grid-6-xs">
                    <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Datos personales.</span></p>
                    
                    <input type="text" name="nombre" placeholder="Nombre" class="helvetica-bold" [(ngModel)]="order.owner.name" [formControl]="dataForm.controls.nombre">
                    <p [hidden]="dataForm.controls.nombre.valid" class="form-error">El nombre es requerido.</p>
    
                    <input type="email" name="email" placeholder="Email" class="helvetica-bold" [(ngModel)]="order.owner.email" [formControl]="dataForm.controls.email">
                    <p [hidden]="dataForm.controls.email.valid" class="form-error">El email es requerido.</p>
    
                    <input required type="number" name="cedula" placeholder="Cédula" class="helvetica-bold" [(ngModel)]="order.owner.cedula" [formControl]="dataForm.controls.cedula">
                    <p [hidden]="dataForm.controls.cedula.valid" class="form-error">La cédula es requerida.</p>
    
                    <input required pattern="([0-9]{7}|[0-9]{10})" type="number" name="telefono" placeholder="Celular" class="helvetica-bold" [(ngModel)]="order.owner.phone_number" [formControl]="dataForm.controls.telefono">
                    <p [hidden]="dataForm.controls.telefono.valid" class="form-error">El celular es requerido, te llamaremos para confirmar el pedido.</p>
                </div>
                
                <div class="grid-6-xs last">
                    <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Lugar de Entrega.</span></p>
                    <div style="z-index: 10;" class="grid-6-xs">
                        <input [(ngModel)]="order.deliveryType" type="radio" name="lugar-entrega" id="lugar-casa"
                            class="css-checkbox" value="casa">
                        <label for="lugar-casa" class="css-label radGroup1">Casa / Universidad</label>
                    </div>
                    <div style="z-index: 10;" class="grid-12-xs last selectdiv">
                        <input *ngIf="order.deliveryType === 'casa'" type="text" name="direccion" placeholder="Dirección" [(ngModel)]="order.deliveryLocation" [formControl]="dataForm.controls.direccion">
                        <p *ngIf="order.deliveryType === 'casa'" [hidden]="dataForm.controls.direccion.valid" class="form-error">Se requiere una dirección.</p>
                    </div>
                    <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold margintop"><span>Código de descuento.</span></p>
                    <div class="promo-code-input-wrapper">
                        <input id="promo-code-input" type="text" name="codigo-promocional" placeholder="Código promocional (opcional)" [(ngModel)]="order.promoCode">
                        <i [class.icon-tick]="promoCodeValid && !promoCodeWrong"></i>
                        <i [class.icon-times]="promoCodeWrong && !promoCodeValid"></i>
                        <a (click)="verifyPromoCode()" id="promo-code-button" class="continue-button">Verificar</a>
                    </div>
                    
                    <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="navigateToQuote();" [class.disabled]="!dataService.orderDataValid">Continuar a Cotización</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
<div class="grid-12-xs last text-center masinfo">
  <img src="img/questions.png" id="questions">
  <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
  <p>(+57) 311-518-9002 / (+57) 744 3279</p>
  <p>contacto@printadelivery.com</p>
</div>
<videos-cont></videos-cont>