<div id="editproductdiv" *ngIf="openedEdit">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeEditVideo()"></i>
        <p class="helvetica-bold">Editar Video</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          <form #form="ngForm" class="new-product-radios-container">

            
            <div class="grid-9-m">

              <div class="grid-4-m">
                <p class="new-product-section-indicator">Titulo <span class="required">*</span></p>
                <input name="title" ngModel="{{video.title}}" type="text"/>
              </div>
              <div class="grid-6-m">
                <p class="new-product-section-indicator">URL <span class="required">*</span></p>
                <input name="url" ngModel="{{video.url}}" type="text"/>
              </div>
              <div class="grid-2-m last">
                <p class="new-product-section-indicator">Posición <span class="required">*</span></p>
                <input name="position" ngModel="{{video.position}}" type="number" max="{{numVideos}}" min="1"/>
              </div>
              <input type="hidden" value="{{video.id}}" ngModel="{{video.id}}" name="id">
            </div>

            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="editVideo(form.value)">Guardar</a>
              <a id="delete-document-button" class="anadirarchivo helvetica-bold" (click)="deleteVideo(form.value);">Eliminar Video</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
