<div id="editproductdiv" *ngIf="openedEdit">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeEditPlace()"></i>
        <p class="helvetica-bold">Editar Lugar</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          <form #form="ngForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-12-m last">
                <div class="grid-5-m">
                  <p class="new-product-section-indicator">Lugar <span class="required">*</span></p>
                  <input name="lugar" ngModel="{{place.lugar}}" value="{{place.lugar}}" disabled />
                </div>
                <div class="grid-5-m last">
                  <p class="new-product-section-indicator">Referencia <span class="required">*</span></p>
                  <input name="referencia" ngModel="{{place.referencia}}" value="{{place.referencia}}" disabled />
                </div>
              </div>

              <input type="hidden" name="count" ngModel="{{place.horarios.length}}">

              <div class="grid-12-m" *ngFor="let place of place.horarios ; let i = index">
                <input type="hidden" name="id-{{i}}" [ngModel]="place.id">
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Hora Inicio <span class="required">*</span></p>
                  <input name="hora_inicio-{{i}}" [ngModel]="place.hora_inicio" type="time" />
                </div>
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Hora Fin <span class="required">*</span></p>
                  <input name="hora_fin-{{i}}" [ngModel]="place.hora_fin" type="time" />
                </div>
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Valor Envío <span class="required">*</span></p>
                  <input name="valor_envio-{{i}}" [ngModel]="place.valor_envio" type="number" min="0" />
                </div>
                <div class="grid-2-m last">
                  <p class="new-product-section-indicator">Habilitar</p>
                  <input name="habilitado-{{i}}" [ngModel]="place.habilitado" id="place-enabled{{i}}" type="checkbox" class="css-checkbox" [checked]="place.habilitado==true" />
                  <label htmlFor="place-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                </div>
                <div class="grid-1-m last">
                  <a class="removex" href="" (click)="removeSchedule(i, schedule);">x</a>
                </div>
              </div>

              <div class="grid-5-m">
                <a id="other-normal" class="continue-button helvetica-bold" (click)="addPlace();">Agregar otro elemento</a>
              </div>
              
            </div>
            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="editPlace(form.value)">Guardar</a>
              <a id="delete-document-button" class="anadirarchivo helvetica-bold" (click)="deletePlace(form.value);">Eliminar Producto</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
