<div id="editproductdiv" *ngIf="openedEdit">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeEditProduct()"></i>
        <p class="helvetica-bold">Editar Producto</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          <form #form="ngForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-12-m last">
                <p class="new-product-section-indicator">Uso <span class="required">*</span></p>
                <div class="tipoimpre grid-2-m" *ngIf="product.tipo == 'impresion'">
                  <input type="radio" name="tipo_producto" ngModel="{{product.tipo}}" id="radioImpresion" class="css-checkbox" value="impresion" [checked]="product.tipo=='impresion'">
                  <label for="radioImpresion" class="helvetica-bold css-label radGroup1">Impresion</label>
                </div>
                <div class="tipoimpre grid-3-m"  *ngIf="product.tipo == 'vinilo'">
                  <input type="radio" name="tipo_producto" ngModel="{{product.tipo}}" id="radioVinyl" class="css-checkbox" value="vinilo" [checked]="product.tipo=='vinilo'">
                  <label for="radioVinyl" class="helvetica-bold css-label radGroup1">Vinilo de corte</label>
                </div>
                <div class="tipoimpre grid-2-m" *ngIf="product.tipo == 'laser'">
                  <input type="radio" name="tipo_producto" ngModel="{{product.tipo}}" id="radioLaser" class="css-checkbox" value="laser" [checked]="product.tipo=='laser'">
                  <label for="radioLaser" class="helvetica-bold css-label radGroup1">Corte láser</label>
                </div>
                <div class="tipoimpre grid-2-m last" *ngIf="product.tipo == 'tinta'">
                  <input type="radio" name="tipo_producto" ngModel="{{product.tipo}}" id="radioTinta" class="css-checkbox" value="tinta" [checked]="product.tipo=='tinta'">
                  <label for="radioTinta" class="helvetica-bold css-label radGroup1">Tintas</label>
                </div>
              </div>

              <!-- Producto uso Impresion -->
              <div *ngIf="product.tipo == 'impresion'">

                <div class="grid-12-m last">
                  <div class="grid-6-m last">
                    <p class="new-product-section-indicator">Material <span class="required">*</span></p>
                    <input list="available-products" name="material" ngModel="{{product.material}}" value="{{product.material}}" disabled />
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{product.products.length}}">

                <div class="grid-12-m" *ngFor="let product of product.products ; let i = index">
                  <input type="hidden" name="id-{{i}}" [ngModel]="product.id">
                  <div *ngIf="product.tamano != 'Rollo'" class="grid-2-m">
                    <p class="new-product-section-indicator">Tamaño <span class="required">*</span></p>
                    <input list="available-sizes" name="tamano-{{i}}" [ngModel]="product.tamano" type="text" />
                    <datalist id="available-sizes">
                      <option *ngFor="let p of allProducts | groupBy:'tamano'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-1-m">
                    <p class="new-product-section-indicator">Tamaño <span class="required">*</span></p>
                    <input list="available-sizes" name="tamano-{{i}}" [ngModel]="product.tamano" type="text" />
                    <datalist id="available-sizes">
                      <option *ngFor="let p of allProducts | groupBy:'tamano'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.tamano != 'Rollo'" class="grid-2-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input list="available-grams" name="gramaje-{{i}}" [ngModel]="product.gramaje" type="number" min="0" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of allProducts | filterProducts:'impresion' | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-1-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input list="available-grams" name="gramaje-{{i}}" [ngModel]="product.gramaje" type="number" min="0" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of allProducts | filterProducts:'impresion' | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.tamano != 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic.</p>
                    <input name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" />
                  </div>

                  <div *ngIf="product.tamano == 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic. Rollos</p>
                    <input name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" />
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. ancho máx</p>
                    <input name="metro_ancho_max-{{i}}" [ngModel]="product.metro_ancho_max" id="mt-width" type="number" min="0" />
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. largo x rollo</p>
                    <input name="metro_largo_rollo-{{i}}" [ngModel]="product.metro_largo_rollo" id="mt-width" type="number" min="0" />
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta (Mt.)</p>
                    <input name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0"/>
                  </div>

                  <div *ngIf="product.tamano != 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0"/>
                  </div>
                  <div *ngIf="product.tamano != 'Rollo'" class="grid-2-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled{{i}}" type="checkbox" class="css-checkbox" [checked]="product.habilitado==true" />
                    <label htmlFor="product-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div *ngIf="product.tamano == 'Rollo'" class="grid-1-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled{{i}}" type="checkbox" class="css-checkbox" [checked]="product.habilitado==true" />
                    <label htmlFor="product-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input name="valor_unitario-{{i}}" [ngModel]="product.valor_unitario" id="valor_unitario" type="number" min="0"/>
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i, product);">x</a>
                </div>

                <div class="grid-5-m">
                  <a id="other-normal" class="continue-button helvetica-bold" (click)="addProduct(product.tipo);">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Vinilo de Corte -->
              <div *ngIf="product.tipo == 'vinilo'">

                <div class="grid-12-m">
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Color <span class="required">*</span></p>
                    <input type="text" name="color" value="{{product.color}}" ngModel="{{product.color}}" disabled/>
                  </div>
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Acabado <span class="required">*</span></p>
                    <input name="acabado" type="text" value="{{product.acabado}}" ngModel="{{product.acabado}}" disabled/>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{product.products.length}}">

                <div class="grid-12-m" *ngFor="let product of product.products ; let i = index">
                  <input type="hidden" name="id-{{i}}" [ngModel]="product.id">
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input list="available-grams" name="gramaje-{{i}}" type="number" min="0" [ngModel]="product.gramaje" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of allProducts | filterProducts:'vinilo' | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inicial rollos</p>
                    <input name="cantidad-{{i}}" id="stock" type="number" min="0" [ngModel]="product.cantidad" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. ancho máx.</p>
                    <input name="metro_ancho_max-{{i}}" id="mt-width" type="number" min="0" [ngModel]="product.metro_ancho_max" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. largo x rollo</p>
                    <input name="metro_largo_rollo-{{i}}" id="mt-long" type="number" min="0" [ngModel]="product.metro_largo_rollo" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta (Mt.)</p>
                    <input name="cantidad_alerta-{{i}}" id="stock-alert" type="number" min="0" [ngModel]="product.cantidad_alerta" />
                  </div>
                  <div class="grid-1-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled-vinyl{{i}}" type="checkbox" class="css-checkbox" [checked]="product.habilitado==true" />
                    <label htmlFor="product-enabled-vinyl{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input name="valor_unitario-{{i}}" id="valor_unitario" type="number" min="0" [ngModel]="product.valor_unitario" />
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i, product);">x</a>
                </div>

                <div class="grid-5-m">
                  <a id="other-normal" class="continue-button helvetica-bold" (click)="addProduct(product.tipo);">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Corte Laser -->
              <div *ngIf="product.tipo == 'laser'">

                <div class="grid-12-m">
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Material <span class="required">*</span></p>
                    <input name="material" type="text" ngModel="{{product.material}}" value="{{product.material}}" disabled />
                  </div>
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Color <span class="required">*</span></p>
                    <input name="color" type="text" ngModel="{{product.color}}" value="{{product.color}}" disabled />
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{product.products.length}}">

                <div class="grid-12-m" *ngFor="let product of product.products ; let i = index">
                  <input type="hidden" name="id-{{i}}" [ngModel]="product.id" >
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Espesor <span class="required">*</span></p>
                    <input list="available-thicknesses" name="espesor-{{i}}" type="number" min="0" [ngModel]="product.espesor" />
                    <datalist id="available-thicknesses">
                      <option *ngFor="let p of products" value="{{p.espesor}}">
                    </datalist>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic.</p>
                    <input name="cantidad-{{i}}" id="stock" type="number" min="0" [ngModel]="product.cantidad" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input name="cantidad_alerta-{{i}}" id="stock-alert" type="number" min="0" [ngModel]="product.cantidad_alerta" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled-laser{{i}}" type="checkbox" class="css-checkbox" [checked]="product.habilitado==true" />
                    <label htmlFor="product-enabled-laser{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input name="valor_unitario-{{i}}" id="valor_unitario" type="number" min="0" [ngModel]="product.valor_unitario" />
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i, product);">x</a>
                </div>

                <div class="grid-5-m">
                  <a id="other-normal" class="continue-button helvetica-bold" (click)="addProduct(product.tipo);">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Tintas -->
              <div *ngIf="product.tipo == 'tinta'">

                <div class="grid-12-m">
                  <div class="grid-6-m">
                    <p class="new-product-section-indicator">Nombre <span class="required">*</span></p>
                    <input type="text" name="material" value="{{product.material}}" ngModel="{{product.material}}" disabled/>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{product.products.length}}">

                <div class="grid-12-m" *ngFor="let product of product.products ; let i = index">
                  <input type="hidden" name="id-{{i}}" [ngModel]="product.id">
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic.</p>
                    <input name="cantidad-{{i}}" id="stock" type="number" min="0" [ngModel]="product.cantidad" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input name="cantidad_alerta-{{i}}" id="stock-alert" type="number" min="0" [ngModel]="product.cantidad_alerta" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input name="valor_unitario-{{i}}" id="valor_unitario" type="number" min="0" [(ngModel)]="product.valor_unitario" />
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i, product);">x</a>
                </div>

              </div>
              
            </div>
            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="editProduct(form.value)">Guardar</a>
              <a id="delete-document-button" class="anadirarchivo helvetica-bold" (click)="deleteProduct(form.value);">Eliminar Producto</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-cantidad">La Cantidad Inicial debe ser mayor que la Cantidad de Alerta</p>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
