<head>
  <title>Preguntas</title>
  <meta name="Description" content="En Printa damos respuesta a tus dudas y te aconsejamos sobre tus entregas, archivos, formatos, tipos de impresiones, corte láser, etc.">
  <meta name="Keywords" content="impresión impresiones cortes imrpimir cortar archivo Printa Printadelivery Bogotá diseñadores arquitectos corte láser  ">
</head>

<div id="faq-container" class="grid-2-xs-left grid-10-xs last">
  <div class="cont90" style="margin: initial;">
    <h1>Sobre PrintaDelivery</h1>
    <ul data-accordion-group style="list-style-type: none;">
      <li class="accordion open" data-accordion>
        <p data-control class="helvetica-bold">¿Qué formatos acepta Printa Delivery?</p>
        <div data-content>
          <p>
            Formato PDF.
          </p>
          <p>
            <strong>Opción PDF DE IMPRENTA:</strong> Hay programas en los que no está fácilmente a la vista la opción de
            crear un PDF
            DE IMPRENTA. Suele encontrarse en la opción “avanzados” o en “preferencias” y suele incluir la opción
            “Calidad
            Prensa” y la opción “PDF X-1A”, resultando ésta última la más interesante por el respeto a las resoluciones
            y
            compresiones originales y por la nula modificación del color respecto al original.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿El trabajo, se puede llevar en físico?</p>
        <div data-content>
          <p>
            Sí. En este caso recogeremos tu trabajo o podrás pasar a dejarlo, para que sea escaneado directamente en el
            taller de Printa Delivery y listo, pero si existe, es mejor el original digital porque en todo escáner hay
            pérdida de resolución, por muy ligera que sea.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Se puede hacer una prueba antes de realizar el trabajo completo?</p>
        <div data-content>
          <p>
            Por supuesto, y lo recomendamos, pues así se puede comprobar cuál va a ser el resultado final REAL, en
            cuanto
            a color y composición, evitando los problemas que suelen darse respecto a las diferencias entre los colores
            de
            pantalla y los de impresión. El costo de esta prueba será mucho menor al del trabajo final.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Cuál es el proceso habitual? ¿cuáles son sus plazos?</p>
        <div data-content>
          <p>Una vez hayas configurado y enviado tu archivo a través de www.printadelivery.com, el diseñador o
            arquitecto
            encargado se pondrá en contacto contigo para resolver inquietudes y establecer una hora aproximada de
            entrega.</p>
          <p>Acordado esto, se procederá a la impresión o corte de tu trabajo, proceso al cual podrás hacerle
            seguimiento
            a través de la página en donde registramos paso a paso el estado de tu pedido.</p>
          <p>Como bien sabrás, el tiempo de entrega de tu trabajo depende de la extensión y complejidad del mismo, en
            Printa Delivery buscamos la mayor efectividad, por eso nos comprometemos en realizarlo y despacharlo entre 2
            y
            3
            horas hábiles para trabajos de complejidad media.</p>
        </div>
      </li>
    </ul>
    <h1>Preguntas y Consejos Técnicos</h1>
    <ul style="list-style-type: none;">
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Qué resolución es necesaria?</p>
        <div data-content>
          <p>Para impresión láser, digital o tamaños pequeños se recomienda una resolución de 300 pixels por pulgada.
            Para
            logotipos y trabajos de línea se recomiendan resoluciones entre 400 y 500 ppp.</p>
          <p>Para trabajos de impresión en el plotter o grandes formatos, con 150 ppp suele ser suficiente. Si incluyen
            logos ser recomiendan los 200 ppp a tamaño real.</p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Voy a obtener en la impresión los mismos colores que en pantalla?</p>
        <div data-content>
          <p>El espacio de color de una pantalla es el espacio RGB (LUZ: roja, verde, azul) y el espacio de color de la
            impresión es el llamado CMYK (TINTAS: cian, magenta, amarillo, negro), aunque en este último pueden haber
            más.</p>
          <p>La conversión de colores necesaria para representar el espacio RGB en formato CMYK no es exacta y es mucho
            más apreciable en los colores intensos que en los naturales. Por ello es que recomendamos realizar una
            primera
            prueba de impresión y ver cómo van a ser finalmente representados los colores utilizados en pantalla.</p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">Conversión de RGB a CMYK</p>
        <div data-content>
          <p>
            Tendrás mayor control sobre la apariencia de tu diseño impreso, si conviertes todas las imágenes de RGB a
            CMYK
            antes de enviarnos tus archivos.
          </p>
          <p>
            Queremos que quedes satisfecho con el resultado, así que por favor toma el tiempo para preparar tu archivo
            adecuadamente, no podemos responsabilizarnos por malos resultados si nos proporcionas imágenes de baja
            resolución o en RGB.
          </p>
          <p>
            Ten en cuenta que es posible crear colores en RGB que no pueden reproducirse en CMYK, se les llama “colores
            fuera de la gama CMYK”.
          </p>
          <p>
            Lo que sucede es que el convertidor a CMYK crea un color lo más parecido posible al original, por lo tanto,
            es
            importante que los colores que elijas en tu diseño, sean del modelo CMYK para evitar resultados inesperados.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Qué es la sangría en plotter de corte? ¿es necesario ponerla?</p>
        <div data-content>
          <p>
            La sangría es un reborde de al menos 3 mm que se coloca alrededor de todo el trabajo, cuando la imagen va
            hasta el borde del impreso, para evitar las líneas blancas tras el corte.
          </p>
          <p>
            Para trabajos en el plotter de corte, la sangría recomendada suele ser de máximo 10mm.
          </p>
          <p>
            Si no sabes ponerla, no te preocupes, la pondremos nosotros de así solicitarlo.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Debo enviar mi tipografía?</p>
        <div data-content>
          <p>
            Sí. Si tu archivo lo realizaste en un programa que no permite convertir las fuentes a curvas, debes enviar
            siempre la tipografía utilizada junto con el archivo.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">Texto en color o sobre fondo oscuro</p>
        <div data-content>
          <p>
            Si vas a imprimir un texto menor de 12 pts lo mejor es no usar color en él o texto blanco sobre fondo
            oscuro.
          </p>
          <p>
            En todas las impresiones existe una mínima variación de registro, el resultado son pequeños halos de color
            alrededor de la letra, los cuales se harán muy notorios entre más pequeño el tamaño del texto, haciendo de
            éste un texto difícil de leer.
          </p>
        </div>
      </li>
      <li class="accordion" data-accordion>
        <p data-control class="helvetica-bold">¿Qué son los rebases? ¿los necesito?</p>
        <div data-content>
          <p>
            Rebasado es el término que se usa para las imágenes que llegan hasta la orilla del papel. Para hacer esto,
            asegúrate que cualquier imagen o fondo que quieres que llegue a la orilla del papel, sobresalga de tu
            documento 3 mm en ambas direcciones. Después de imprimir, rellenaremos tu documento al tamaño final sin que
            queden orillas blancas.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
