<!-- FIRST SECTION HOME -->

<head>
  <title>Printa Delivery Impresión y Corte Láser a Domicilio </title>
  <meta name="Description" content="Encuentra aquí nuestros servicios de impresión y corte láser, sube tu archivo, recibe asesoría, cotiza, paga y recibe tu entrega donde quieras. ">
  <meta name="Keywords" content="impresión imrpimir cortar archivo Printa Printadelivery Bogotá diseñadores arquitectos corte láser  ">
</head>
<div id="vacaciones">
  <div class="cont60">
    <div class="grid-12-xs last text-center topcar">
      <i class="icon-times closeVacation"></i>
      <p class="helvetica-bold">Salimos a Vacaciones</p>
    </div>
    <img src="/img/receso-printa-corregido.jpg" class="img-responsive">
  </div>
</div>


<div class="grid-12-xs text-center last">
  <img id="logohomebig" src="{{colorService.logo2}}">
</div>
<div class="cont50">
  <div class="grid-6-m text-center">
    <div class="cont70">
      <img class="imghomearchiv" src="img/IMPRESION.gif">
      <h3 class="under-gif-title helvetica-bold">IMPRIMIR</h3>
      <a (click)="navigateToPrintType('normal')" class="anadirarchivo home helvetica-bold">Añadir Archivo</a>
      <!-- <a class="anadirarchivo home helvetica-bold openVacaciones">Añadir Archivo</a> -->
      <img id="divisor-home" src="img/divisor.svg">
    </div>
  </div>
  <div class="grid-6-m text-center last">
    <div class="cont70">
      <img class="imghomearchiv" src="img/LASER.gif">
      <h3 class="under-gif-title helvetica-bold">CORTAR</h3>
      <a (click)="navigateToPrintType('laser')" class="anadirarchivo home helvetica-bold">Añadir Archivo</a>
      <!-- <a  class="anadirarchivo home helvetica-bold openVacaciones">Añadir Archivo</a> -->
    </div>
  </div>
  <div class="grid-12-xs last mensajehome text-center">
    <p>Envía tus archivos a nuestros diseñadores y arquitectos para que impriman, corten, y lleven tu entrega a donde necesites
      en Bogotá.</p>
  </div>
</div>

<!-- SECOND SECTION HOME -->
<div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="grid-12-xs last proceso text-center" style="margin-bottom: 0;">
  <div class="cont90">
    <div class="grid-3-m home-pasos-div">
      <p class="helvetica-bold">Sube tu archivo</p>
      <div class="cont75">
        <img class="home-pasos-img" src="img/pd-11-11.svg">
        <span>Mándanos tus archivos para cortar o imprimir en PDF</span>
      </div>
    </div>
    <div class="grid-3-m home-pasos-div">
      <p class="helvetica-bold">Recibe asesoría</p>
      <div class="cont75">
        <img class="home-pasos-img" src="img/pd-12.svg">
        <span>Diseñadores y arquitectos te ayudarán en el proceso</span>
      </div>
    </div>
    <div class="grid-3-m home-pasos-div">
      <p class="helvetica-bold">Cotiza y paga</p>
      <div class="cont75">
        <img class="home-pasos-img" src="img/pd-13.svg">
        <span>Paga online ahora o paga  contra-entrega</span>
      </div>
    </div>
    <div class="grid-3-m home-pasos-div last">
      <p class="helvetica-bold">Recibe en casa o en la U</p>
      <div class="cont75">
        <img class="home-pasos-img" src="img/pd-14.svg">
        <span>Te lo llevamos a la casa, universidad o donde necesites</span>
      </div>
    </div>
  </div>
</div>

<div class="grid-12-xs last" id="boxwhite">
  <div class="grid-6-xs text-center">
    <img src="img/coffee-cup-mug-desk.png">
  </div>
  <div class="grid-5-xs">

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Recorte y Respaldo:</p>
        <p class="text">Recortamos tus impresiones a medida y respaldamos tus entregas en el material que necesites.</p>
        <div class="pselleft"></div>
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>


    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Anillado y encuardernacion:</p>
        <p class="text">Anillamos y encuadernamos tus impresiones en el tamaño y acabado final que desees.</p>
        <div class="pselleft"></div>
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Asesoría, diseño y adecuación de archivos:</p>
        <p class="text">Ajustamos tus archivos y te ayudamos en la resolución de tus problemas.</p>
        <div class="pselleft"></div>
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Horario extendido:</p>
        <p class="text">Podrás encontrarnos en horario extendido en épocas de entregas universitarias.</p>
        <div class="pselleft"></div>
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Doblado de planos:</p>
        <p class="text">Doblamos tus planos a formato A4, listos para ser presentados.</p>
        <div class="pselleft"></div>
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>

    <div class="grid-12-xs contbuttons last">
      <div class="grid-2-xs-left grid-5-xs">
        <a (click)="navigateToPrintType('normal')" class="anadirarchivo home helvetica-bold">Imprimir</a>
        <!-- <a class="anadirarchivo home helvetica-bold openVacaciones">Imprimir</a> -->
      </div>
      <div class="grid-5-xs">
        <a (click)="navigateToPrintType('laser')" class="anadirarchivo home helvetica-bold">Cortar</a>
        <!-- <a class="anadirarchivo home helvetica-bold openVacaciones">Cortar</a> -->
      </div>
    </div>

  </div>
</div>

<videos-cont></videos-cont>

<div class="grid-12-xs last commentsbox" id="boxwhite">
  <div class="grid-2-xs-left grid-1-xs text-center">
    <div class="arrow">
      <a (click)="prevComment(actualcomment.pos)">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                clip-path: url(#clip-path);
              }
            </style>
            <clipPath id="clip-path">
              <rect class="cls-1" width="24.88" height="54" />
            </clipPath>
          </defs>
          <g class="cls-2">
            <path d="M30.48,45,13.31,27.84,30.48,10.62,25.19,5.34,2.69,27.84l22.5,22.5Z" />
          </g>
        </svg>
      </a>
    </div>
  </div>
  <div class="grid-7-xs">
    <div class="grid-4-xs">
      <img src="{{actualcomment.image}}">
    </div>
    <div class="grid-8-xs last commenttext">
      <p>{{ actualcomment.comment }}</p>
      <p class="title helvetica-bold">{{ actualcomment.name }}</p>
      <i>{{ actualcomment.charge }}</i>
    </div>
  </div>
  <div class="grid-1-xs last text-center">
    <div class="arrow">
      <a (click)="nextComment(actualcomment.pos)">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <style>
              .cls-1 {
                fill: none;
              }

              .cls-2 {
                clip-path: url(#clip-path);
              }
            </style>
            <clipPath id="clip-path">
              <rect class="cls-1" width="24.88" height="54" />
            </clipPath>
          </defs>
          <g class="cls-2">
            <path d="M-5.61,9,11.57,26.17-5.61,43.38l5.29,5.29,22.5-22.5L-.32,3.67Z" />
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>

<div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="grid-12-xs last boxblack pay">
  <div class="grid-4-xs-left grid-4-xs">
    <img src="img/PrintaPayutira.svg">
  </div>
</div>

<div class="grid-12-xs last text-center masinfo">
    <img src="img/questions.png" id="questions">
    <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
    <p>(+57) 311-518-9002 / (+57) 744 3279</p>
    <p>contacto@printadelivery.com</p>
  </div>

<!--<div class="grid-12-xs last lugar text-center">-->
<!--<p class="helvetica-bold">Encuéntranos</p>-->
<!-- <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:200px;width:100%'><div id='gmap_canvas' style='height:200px;width:700px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">we provide the best link directory overview</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(51.5073509,-0.12775829999998223),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(51.5073509,-0.12775829999998223)});infowindow = new google.maps.InfoWindow({content:'<strong>Printa</strong><br>London, United Kingdom<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script> -->
<!--</div>-->

<div *ngIf="showTimePopup" id="time-popup" class="popup-div">
  <div class="cont75 text-center container">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <p class="helvetica-bold"> Hola estamos en vacaciones, lamentamos cualquier inconveniente!</p>
        <p class="helvetica-bold">Nuestro horarios de atención normal sería</p>
      </div>
      <div class="grid-12-xs last bottomcar">
        <div class="cont50 time-popup-content">
          <ul>
            <li>Lunes a viernes 24 horas</li>
            <li>Sábado Cerrado</li>
            <li>Domingos Cerrado hasta las 9 pm. A partir de esa hora se hace recepción de trabajos, y a partir de las 5:00 am
              del lunes se envían a domicilio.
            </li>
            <h3>Si tienes más dudas llámanos o escríbenos por email.</h3>
            <p>(+57) 311-518- 9002 / (+57) 313-433- 0750</p>
            <p><a href="mailto:contacto@printadelivery.com">contacto@printadelivery.com</a></p>
          </ul>
          <!--<img src="/img/PrintaMudanza.png">-->
          <a id="time-popup-accept" class="continue-button helvetica-bold" (click)="closeTimePopup();">Aceptar</a>
        </div>
      </div>
    </div>
    <!--<div class="containerA">
      <div class="btnxclose" (click)="closeTimePopup();">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <defs>
            <style>.cls-1{fill:#fff;}</style>
          </defs>
          <path class="cls-1" d="M11.06,10.2l2.71-2.71a.75.75,0,0,0-1.06-1.06L10,9.14,7.29,6.43A.75.75,0,0,0,6.23,7.49L8.94,10.2,6.23,12.91A.75.75,0,0,0,7.29,14L10,11.26,12.71,14a.75.75,0,0,0,1.06-1.06Z"/>
        </svg>
      </div>
      <img src="/img/PrintaMudanza.png">
    </div>
  </div>-->
</div>

<div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="grid-12-xs last boxblack content-mapa">
  <div class="grid-8-xs">
    <div id="map_canvas" style="height: 30rem;"></div>
  </div>
  <div class="grid-3-xs horarios last">

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Lunes a viernes:</p>
        <p class="text">Recibo de pedidos 24h</p>
        
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>

    <div class="grid-11-xs tipscont last">
      <div class="sel grid-12-xs last">
        <p class="title helvetica-bold">Domingos y fines de semana:</p>
        <p class="text">Sujetos a horarios de entregas universitarias</p>
        
      </div>
    </div>
    <div class="grid-1-xs last palocont">
      <div class="palo"></div>
    </div>
    
  </div>
</div>