<p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Tu Pedido.</span></p>
<table class="tg">
  <tr>
    <th colspan="3" class="helvetica-bold">Items</th>
  </tr>
  <tr *ngFor="let document of order?.documents">
    <td style="width:8%;"></td>
    <td style="width:60%;"><span *ngIf="document.printSettings.type == 'laser'" style="color: #C03937;font-weight: bold;font-size:2rem;">*</span>{{document.name | truncate:31}}</td>
    <td class="text-right" *ngIf="document.price === 0"><img class="loadgif" src="img/load.gif"></td>
    <td class="text-right" *ngIf="document.price > 0">{{document.price | currency:'COP'}}</td>
  </tr>
  <!-- <tr>
    <td class="tdborder" style="width:8%;"></td>
    <td class="tdborder" style="width:60%;" *ngIf="order?.totalPrice === 0">RedBull 1 <input type="number" [(ngModel)]="redbullCant" class="helvetica-bold" name="redbullCant" min="0" max="8" style="margin-left:10%;" (click)="changeRedbull()"></td>
    <td class="tdborder" style="width:60%;" *ngIf="order?.totalPrice > 0 && order?.quoteSent == true && toPay == false">RedBull <input type="number" [(ngModel)]="order.redbullcant" class="helvetica-bold" name="redbullCant" min="0" max="8" style="margin-left:10%;" (click)="changeRedbull()"></td>
    <td class="tdborder" style="width:60%;" *ngIf="toPay">RedBull x {{order?.redbullcant}}</td>
    <td class="tdborder text-right">{{ order?.redbullprice | currency:'COP'}}</td>
  </tr> -->
  <tr *ngIf="order?.specialPromotions?.numRelajaLaPelvis > 0">
    <td style="width: 8%;"></td>
    <td>{{order?.specialPromotions?.numRelajaLaPelvis}} x Boleta - Relaja la Pelvis</td>
    <td class="text-right" *ngIf="!order?.specialPromotions?.totalRelajaLaPelvisPrice"><img class="loadgif" src="img/load.gif"></td>
    <td class="text-right" *ngIf="order?.paymentTotal > 0">{{order?.specialPromotions?.totalRelajaLaPelvisPrice | currency:'COP'}}</td>
  </tr>
  <tr>
    <td class="tdborder" style="width:8%;"></td>
    <td class="tdborder" style="width:60%;">Costo de envío {{order?.deliveryType === 'universidad' ? '(' +
      order?.deliveryLocation + ')' : ''}}
    </td>
    <td class="tdborder text-right" *ngIf="order?.totalPrice === 0"><img class="loadgif" src="img/load.gif"></td>
    <td class="tdborder text-right" *ngIf="order?.totalPrice > 0">{{order?.shippingCost | currency:'COP'}}</td>
  </tr>
  <tr *ngIf="order?.promoCode">
    <td class="tdborder" style="width:8%;"></td>
    <td class="tdborder" style="width:60%;">Descuento {{order?.discountType ? (order?.discountType ? 'fijo'
      : 'porcentual') : ''}} ({{order?.promoCode}})
    </td>
    <td class="tdborder text-right" *ngIf="order?.totalPrice === 0"><img class="loadgif" src="img/load.gif"></td>
    <td class="tdborder text-right" *ngIf="order?.paymentTotal >= 0">{{order.discountType ?
      (-order.discountAmount | currency:'COP')
      : -order.discountAmount + '%'}}
    </td>
  </tr>
  <tr>
    <td class="tdborder" style="width:8%;"></td>
    <td class="tdborder" style="width:60%;">IVA</td>
    <td class="tdborder text-right" *ngIf="order?.totalPrice === 0"><img class="loadgif" src="img/load.gif"></td>
    <td class="tdborder text-right" *ngIf="order?.totalPrice > 0">{{(order?.paymentTotal/(1 + order?.taxRate)) *
      order?.taxRate | currency:'COP'}}
    </td>
  </tr>
  <tr>
    <td style="width:8%;"></td>
    <td class="helvetica-bold" style="width:60%;">Total</td>
    <td class="text-right" *ngIf="order?.totalPrice === 0"><img class="loadgif" src="img/load.gif"></td>
    <td class="text-right" *ngIf="order?.totalPrice > 0 && !order?.promoCode">{{order?.paymentTotal | currency:'COP'}}*
    </td>
    <td class="text-right" *ngIf="order?.promoCode && order?.paymentTotal >= 0">{{order?.paymentTotal |
      currency:'COP'}}*
    </td>
  </tr>
</table>
<p class="price-explanation">*El impuesto del IVA se calcula sobre el total de impresión/corte, costo de envío, y descuentos aplicados.</p>
