<div id="newitemdiv" *ngIf="openvideo">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeNewVideo()"></i>
        <p class="helvetica-bold">Nuevo Video</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          
          <form #formCreate="ngForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-6-m">
                <p class="new-product-section-indicator">Titulo <span class="required">*</span></p>
                <input name="title" ngModel="{{title}}" type="text"/>
              </div>
              <div class="grid-6-m last">
                <p class="new-product-section-indicator">URL <span class="required">*</span></p>
                <input name="url" ngModel="{{url}}" type="text"/>
              </div>

            </div>
            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="createVideo(formCreate.value);">Crear Video</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
