<div id="newitemdiv" *ngIf="opened">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeNewPlace()"></i>
        <p class="helvetica-bold">Nuevo Lugar</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          
          <form #formCreate="ngForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-12-m last">
                <div class="grid-5-m">
                  <p class="new-product-section-indicator">Lugar <span class="required">*</span></p>
                  <input placeholder="Nombre lugar" list="available-places" name="lugar" ngModel="{{lugar}}" type="text" />
                  <datalist id="available-places">
                    <option *ngFor="let p of uniques" value="{{p.lugar}}">
                  </datalist>
                </div>
                <div class="grid-5-m last">
                  <p class="new-product-section-indicator">Referencia <span class="required">*</span></p>
                  <input placeholder="Referencia" list="available-referencia" name="referencia" ngModel="{{referencia}}" type="text"/>
                  <datalist id="available-referencia">
                    <option *ngFor="let p of uniques" value="{{p.referencia}}">
                  </datalist>
                </div>
              </div>

              <input type="hidden" name="count" ngModel="{{inicialVoid.length}}">

              <div class="grid-12-m" *ngFor="let place of inicialVoid; let i = index">
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Hora Inicio <span class="required">*</span></p>
                  <input name="hora_inicio-{{i}}" [ngModel]="place.hora_inicio" type="time"/>
                </div>
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Hora Fin <span class="required">*</span></p>
                  <input name="hora_fin-{{i}}" [ngModel]="place.hora_fin" type="time" />
                </div>
                <div class="grid-3-m">
                  <p class="new-product-section-indicator">Valor Envío <span class="required">*</span></p>
                  <input placeholder="COP" name="valor_envio-{{i}}" [ngModel]="place.valor_envio" type="number" min="0" />
                </div>
                <div class="grid-2-m last">
                  <p class="new-product-section-indicator">Habilitar</p>
                  <input name="habilitado-{{i}}" [ngModel]="place.habilitado" id="place-enabled{{i}}" type="checkbox" class="css-checkbox" />
                  <label htmlFor="place-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                </div>
                <div class="grid-1-m last" *ngIf="i!=0">
                  <a class="removex" href="" (click)="removeSchedule(i);">x</a>
                </div>
              </div>

              <div class="grid-5-m">
                <a style="margin-top: 1.75rem;" id="other-normal" class="continue-button helvetica-bold" (click)="addPlace();">Agregar otro elemento</a>
              </div>
              
            </div>
            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="createPlace(formCreate.value);">Crear Lugar</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
