<div id="newproductdiv" *ngIf="opened">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeNewProduct()"></i>
        <p class="helvetica-bold">Nuevo Producto</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          
          <form #formCreate="ngForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-12-m last">
                <p class="new-product-section-indicator">Uso <span class="required">*</span></p>
                <p class="form-error" style="display:none" id="validate-tipo-producto">El uso del producto es requerido</p>
                <div class="tipoimpre grid-2-m">
                  <input type="radio" name="tipo_producto" id="radioImpresion" class="css-checkbox" ngModel="{{tipo_producto}}" (change)="changeType('impresion')" (click)="materalFilter('impresion')" value="impresion">
                  <label for="radioImpresion" class="helvetica-bold css-label radGroup1">Impresion</label>
                </div>
                <div class="tipoimpre grid-3-m">
                  <input type="radio" name="tipo_producto" id="radioVinyl" class="css-checkbox" ngModel="{{tipo_producto}}" (change)="changeType('vinilo')" (click)="materalFilter('vinilo')" value="vinilo">
                  <label for="radioVinyl" class="helvetica-bold css-label radGroup1">Vinilo de corte</label>
                </div>
                <div class="tipoimpre grid-2-m">
                  <input type="radio" name="tipo_producto" id="radioLaser" class="css-checkbox" ngModel="{{tipo_producto}}" (change)="changeType('laser')" (click)="materalFilter('laser')" value="laser">
                  <label for="radioLaser" class="helvetica-bold css-label radGroup1">Corte láser</label>
                </div>
                <div class="tipoimpre grid-2-m last">
                  <input type="radio" name="tipo_producto" id="radioTinta" class="css-checkbox" ngModel="{{tipo_producto}}" (change)="changeType('tinta')" (click)="materalFilter('tinta')" value="tinta">
                  <label for="radioTinta" class="helvetica-bold css-label radGroup1">Tintas</label>
                </div>
              </div>

              <!-- Producto uso Normal -->
              <div *ngIf="productImpresion">

                <div class="grid-12-m last">
                  <div class="grid-6-m last">
                    <p class="new-product-section-indicator">Material <span class="required">*</span></p>
                    <input placeholder="Elige material o crea un nuevo material" list="available-products" name="material" ngModel="{{material}}"/>
                    <datalist id="available-products">
                      <option *ngFor="let p of uniques | filterProducts:selectedFilter" value="{{p.material}}">
                    </datalist>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{inicialVoid.length}}">

                <div class="grid-12-m" *ngFor="let product of inicialVoid; let i = index">
                  <div *ngIf="!product.is_roll" class="grid-2-m">
                    <p class="new-product-section-indicator">Tamaño <span class="required">*</span></p>
                    <input placeholder="Elige un tamaño" list="available-sizes" id="tamano-{{i}}" name="tamano-{{i}}" [ngModel]="product.tamano" type="text" (change)="changeTamano(i, formCreate.value)"/>
                    <datalist id="available-sizes">
                      <option *ngFor="let p of products | groupBy:'tamano'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.is_roll" class="grid-1-m">
                    <p class="new-product-section-indicator">Tamaño <span class="required">*</span></p>
                    <input placeholder="Elige un tamaño" list="available-sizes" id="tamano-{{i}}" name="tamano-{{i}}" [ngModel]="product.tamano" type="text" (change)="changeTamano(i, formCreate.value)"/>
                    <datalist id="available-sizes">
                      <option *ngFor="let p of products | groupBy:'tamano'" value="{{p}}">
                    </datalist>
                  </div>

                  <div *ngIf="!product.is_roll" class="grid-2-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input placeholder="Elige el gramaje" list="available-grams" id="gramaje-{{i}}" name="gramaje-{{i}}" [ngModel]="product.gramaje" type="number" min="0" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of products | filterProducts:selectedFilter | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>
                  <div *ngIf="product.is_roll" class="grid-1-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input placeholder="Elige el gramaje" list="available-grams" id="gramaje-{{i}}" name="gramaje-{{i}}" [ngModel]="product.gramaje" type="number" min="0" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of products | filterProducts:selectedFilter | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>

                  <div *ngIf="!product.is_roll" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic.</p>
                    <input placeholder="1000" name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" id="cantidad-{{i}}" />
                  </div>

                  <div *ngIf="product.is_roll" class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic. Rollos</p>
                    <input placeholder="1000" name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" id="cantidad-{{i}}" />
                  </div>
                  <div *ngIf="product.is_roll" class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. ancho máx</p>
                    <input placeholder="5" name="metro_ancho_max-{{i}}" [ngModel]="product.metro_ancho_max" id="mt-width" type="number" min="0" id="mt-width-{{i}}" />
                  </div>
                  <div *ngIf="product.is_roll" class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. largo x rollo</p>
                    <input placeholder="5" name="metro_largo_rollo-{{i}}" [ngModel]="product.metro_largo_rollo" id="mt-long" type="number" min="0" id="mt-width-{{i}}" />
                  </div>

                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input placeholder="10" name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0" id="cantidad_alerta-{{i}}"/>
                  </div>

                  <div *ngIf="!product.is_roll" class="grid-2-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled{{i}}" type="checkbox" class="css-checkbox" />
                    <label htmlFor="product-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div *ngIf="product.is_roll" class="grid-1-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled{{i}}" type="checkbox" class="css-checkbox" />
                    <label htmlFor="product-enabled{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>

                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input placeholder="COP" name="valor_unitario-{{i}}" [ngModel]="product.valor_unitario" id="valor_unitario" type="number" min="0" id="valor_unitario-{{i}}"/>
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i);" *ngIf="i!=0">x</a>
                </div>

                <div class="grid-5-m">
                  <a style="margin-top: 1.75rem;" id="other-normal" class="continue-button helvetica-bold" (click)="addProduct();">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Vinilo de Corte -->
              <div *ngIf="productVinyl">

                <div class="grid-12-m">
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Color <span class="required">*</span></p>
                    <input placeholder="Elige un Color o crea un nuevo color" list="available-colorVinyl" type="text" name="color" ngModel="{{color}}" />
                    <datalist id="available-colorVinyl">
                      <option *ngFor="let p of uniques | filterProducts:selectedFilter" value="{{p.color}}">
                    </datalist>
                  </div>
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Acabado <span class="required">*</span></p>
                    <input placeholder="Elige un acabado" list="available-acabados" name="acabado" ngModel="{{acabado}}" type="text"/>
                    <datalist id="available-acabados">
                      <option *ngFor="let p of products | filterProducts:selectedFilter | groupBy:'acabado'" value="{{p}}">
                    </datalist>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{inicialVoid.length}}">

                <div class="grid-12-m" *ngFor="let product of inicialVoid; let i = index">
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Gramaje</p>
                    <input placeholder="Elige el gramaje" list="available-grams" name="gramaje-{{i}}" [ngModel]="product.gramaje" type="number" min="0" />
                    <datalist id="available-grams">
                      <option *ngFor="let p of products | filterProducts:selectedFilter | groupBy:'gramaje'" value="{{p}}">
                    </datalist>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inicial rollos</p>
                    <input placeholder="2" name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. ancho máx.</p>
                    <input placeholder="127" name="metro_ancho_max-{{i}}" [ngModel]="product.metro_ancho_max" id="mt-width" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Mt. largo x rollo</p>
                    <input placeholder="30" name="metro_largo_rollo-{{i}}" [ngModel]="product.metro_largo_rollo" id="mt-long" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta (Mt.)</p>
                    <input placeholder="1" name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0" />
                  </div>
                  <div class="grid-1-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled-vinyl{{i}}" type="checkbox" class="css-checkbox" />
                    <label htmlFor="product-enabled-vinyl{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input placeholder="COP" name="valor_unitario-{{i}}" [ngModel]="product.valor_unitario" id="valor_unitario" type="number" min="0"/>
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i);" *ngIf="i!=0">x</a>
                </div>

                <div class="grid-5-m">
                  <a style="margin-top: 1.75rem;" id="other-normal" class="continue-button helvetica-bold" (click)="addProduct();">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Corte Laser -->
              <div *ngIf="productLaser">

                <div class="grid-12-m">
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Material <span class="required">*</span></p>
                    <input placeholder="Elige material o crea un nuevo material" list="available-products" name="material" type="text" ngModel="{{material}}"/>
                    <datalist id="available-products">
                      <option *ngFor="let p of uniques | filterProducts:selectedFilter" value="{{p.material}}">
                    </datalist>
                  </div>
                  <div class="grid-5-m">
                    <p class="new-product-section-indicator">Color <span class="required">*</span></p>
                    <input placeholder="Elige un color" list="available-colors" name="color" type="text" ngModel="{{color}}"/>
                    <datalist id="available-colors">
                      <option *ngFor="let p of products | filterProducts:selectedFilter | groupBy:'color'" value="{{p}}">
                    </datalist>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{inicialVoid.length}}">

                <div class="grid-12-m" *ngFor="let product of inicialVoid; let i = index" >
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Espesor</p>
                    <input placeholder="Elige el espesor" list="available-thicknesses" name="espesor-{{i}}" [ngModel]="product.espesor" type="number" min="0"/>
                    <datalist id="available-thicknesses">
                      <option *ngFor="let p of products" value="{{p.espesor}}">
                    </datalist>
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic.</p>
                    <input placeholder="1000" name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input placeholder="10" name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Habilitar</p>
                    <input name="habilitado-{{i}}" [ngModel]="product.habilitado" id="product-enabled-laser{{i}}" type="checkbox" class="css-checkbox" />
                    <label htmlFor="product-enabled-laser{{i}}" class="helvetica-bold css-label-check"></label>
                  </div>
                  <div class="grid-2-m">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input placeholder="COP" name="valor_unitario-{{i}}" [ngModel]="product.valor_unitario" id="valor_unitario" type="number" min="0" />
                  </div>
                  <a class="removex" href="" (click)="removeProperty(i);" *ngIf="i!=0">x</a>
                </div>

                <div class="grid-5-m">
                  <a style="margin-top: 1.75rem;" id="other-normal" class="continue-button helvetica-bold" (click)="addProduct();">Agregar otro elemento</a>
                </div>

              </div>

              <!-- Producto uso Tintas -->
              <div *ngIf="productTinta">

                <div class="grid-12-m">
                  <div class="grid-6-m">
                    <p class="new-product-section-indicator">Nombre <span class="required">*</span></p>
                    <input placeholder="Elige un Nombre o crea uno nuevo" list="available-nombres" type="text" name="material" ngModel="{{material}}" />
                    <datalist id="available-nombres">
                      <option *ngFor="let p of uniques | filterProducts:selectedFilter" value="{{p.material}}">
                    </datalist>
                  </div>
                </div>

                <input type="hidden" name="count" ngModel="{{inicialVoid.length}}">

                <div class="grid-12-m" *ngFor="let product of inicialVoid; let i = index">
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Inic. </p>
                    <input placeholder="1000" name="cantidad-{{i}}" [ngModel]="product.cantidad" id="stock" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Cant. Alerta</p>
                    <input placeholder="10" name="cantidad_alerta-{{i}}" [ngModel]="product.cantidad_alerta" id="stock-alert" type="number" min="0" />
                  </div>
                  <div class="grid-2-m last">
                    <p class="new-product-section-indicator">Valor Unitario <span class="required">*</span></p>
                    <input placeholder="COP" name="valor_unitario-{{i}}" [ngModel]="product.valor_unitario" id="valor_unitario" type="number" min="0" />
                  </div>
                </div>

              </div>             
              
            </div>
            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="createProduct(formCreate.value);">Crear Producto</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-cantidad">La Cantidad Inicial debe ser mayor que la Cantidad de Alerta</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
