<div id="newitemdiv" *ngIf="opened">
  <div class="cont90">
    <div class="grid-12-xs last caracteristicas margintop">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closedetallesdiv" (click)="closeNewCode()"></i>
        <p class="helvetica-bold">Nuevo Código</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        <div class="cont90">
          
          <form [formGroup]="dataNewCodeForm" class="new-product-radios-container">

            <div class="grid-9-m">

              <div class="grid-12-m">
                <div class="grid-4-m">
                  <p class="new-product-section-indicator">Código <span class="required">*</span></p>
                  <p class="form-error" style="margin-bottom: -0.1rem;" *ngIf="!dataNewCodeForm.controls.codigo.valid">8-12 caracteres</p>
                  <input placeholder="8-12 caracteres" [formControl]="dataNewCodeForm.controls['codigo']" type="text"/>
                </div>
                <div class="grid-4-m">
                  <p class="new-product-section-indicator">Cantidad <span class="required">*</span></p>
                  <input placeholder="Cantidad" [formControl]="dataNewCodeForm.controls['cantidad']" type="number" min="0"/>
                </div>
                <div class="grid-4-m last">
                  <p class="new-product-section-indicator">Tipo de descuento <span class="required">*</span></p>
                  <div class="content-discount-toogle">
                    <span>%</span>
                    <input id="tipo-descuento" type="checkbox"
                      [formControl]="dataNewCodeForm.controls['tipo']"
                      class="css-checkbox"
                      (click)="changeTypeDescount()"/>
                    <label for="tipo-descuento" class="css-label-check-discount"></label>
                    <span>$</span>
                  </div>
                </div>
              </div>
              <div class="grid-12-m last">
                <div class="grid-4-m">
                  <p class="new-product-section-indicator">Valor unitario<span class="required">*</span></p>
                  <input placeholder="" [formControl]="dataNewCodeForm.controls['valor']" type="number" min="0"/>
                </div>
                <div class="grid-4-m">
                  <p class="new-product-section-indicator">Fecha de Inicio <span class="required">*</span></p>
                  <input placeholder="" [formControl]="dataNewCodeForm.controls['fecha_inicio']" type="date"/>
                </div>
                <div class="grid-4-m last">
                  <p class="new-product-section-indicator">Fecha de Caducidad <span class="required">*</span></p>
                  <input placeholder="" [formControl]="dataNewCodeForm.controls['fecha_caducidad']" name="fecha_caducidad" type="date"/>
                </div>
              </div>

              <div class="grid-12-m last code-box">
                <div class="show-code helvetica-bold">{{dataNewCodeForm.value['codigo']}}</div>
                <div class="helvetica-bold" *ngIf="typeDescount">${{dataNewCodeForm.value['valor']}}</div>
                <div class="helvetica-bold" *ngIf="!typeDescount">{{dataNewCodeForm.value['valor']}}%</div>
              </div>

            </div>

            <div class="grid-3-m last">
              <img src="img/IMPRESION.gif">
              <!-- <img *ngIf="" src="img/LASER.gif"> -->
              <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="createCode(dataNewCodeForm.value);">Crear Código</a>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-all">Completa los campos requeridos *</p>
              <p class="form-error" style="display:none; margin-top: 1rem !important;" id="validate-fecha">La Fecha de Inicio debe ser menor que la Fecha de Caducidad</p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
