<div class="cont85">
  <table class="tg">
    <tr>
      <th class="helvetica-bold">Referencia</th>
      <th class="helvetica-bold"># Archivos</th>
      <th class="helvetica-bold">Valor</th>
      <th class="helvetica-bold">Pagado</th>
      <th class="helvetica-bold">Eliminar</th>
    </tr>
    <tr *ngFor="let order of orders">
      <td><a (click)="navigateToOrderStatus(order)"
             style="text-decoration: underline; cursor: pointer;">{{order?.id}}<br>{{order?.creation_time}}</a></td>
      <td>{{order?.documents?.length}} Archivos</td>
      <td>{{order?.paymentTotal > 0 ? (order?.paymentTotal | currency:'COP') : 'Cotizando'}}</td>
      <td *ngIf="!order?.paid && order?.paymentType !== 'cash'">Sin Pagar</td>
      <td *ngIf="order?.paid">Pagado</td>
      <td *ngIf="!order?.paid && order?.paymentType === 'cash'">Contra entrega</td>
      <td style="font-size: 28px;"><i (click)="requestOrderDeletion(order)" class="icon-times"
                                      [class.pointer]="canDeleteOrder(order)"
                                      [class.not-allowed]="!canDeleteOrder(order)"></i></td>
    </tr>
  </table>
</div>
<div class="grid-12-xs last text-center masinfo">
  <img src="img/questions.png" id="questions">
  <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
  <p>(+57) 311-518-9002 / (+57) 744 3279</p>
  <p>contacto@printadelivery.com</p>
</div>
<videos-cont></videos-cont>