<steps-menu></steps-menu>
<div class="cont85">
  <div class="grid-12-xs last">
    <div class="grid-4-m">
      <left-panel [order]="order" [toPay]="true"></left-panel>
      <a class="continue-button helvetica-bold" (click)="router.navigate(['/mis-pedidos'])">Guardar y continuar
        después</a>
    </div>
    <div class="grid-8-m last">
      <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Elige tu medio de pago.</span></p>
      <div class="grid-12-xs last text-center marginbottom margintop">
        <div class="grid-4-m">
          <div class="cont75 payment-method-element">
            <a (click)="paymentButtonClick('debit')" onClick="ga('send', 'event', 'boton', 'clic');" class="metodopago"><img src="img/pse.png"></a>
            <p class="helvetica-bold">Tarjeta Débito</p>
          </div>
        </div>
        <div class="grid-4-m">
          <div class="cont75 payment-method-element">
            <a (click)="paymentButtonClick('credit')" onClick="ga('send', 'event', 'boton', 'clic');" class="metodopago"><img src="img/credito.png"></a>
            <p class="helvetica-bold">Tarjeta de Crédito</p>
          </div>
        </div>
        <div class="grid-4-m last">
          <div id="payment-cash" class="cont75 payment-method-element">
            <a (click)="paymentButtonClick('cash')" onClick="ga('send', 'event', 'boton', 'clic');" class="metodopago"><img src="img/cash.png"></a>
            <p class="helvetica-bold">Efectivo</p>
          </div>
        </div>
      </div>
      <div class="cont75 text-center margintopbig">
        <p>Recuerda que el tiempo mínimo de entrega es de 3 horas.</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-12-xs last text-center masinfo">
  <img src="img/questions.png" id="questions">
  <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
  <p>(+57) 311-518-9002 / (+57) 744 3279</p>
  <p>contacto@printadelivery.com</p>
</div>
<videos-cont></videos-cont>

<form id="payment-info-form" hidden method="post" action="https://gateway.payulatam.com/ppp-web-gateway/">
  <input name="merchantId" type="hidden" value="581951">
  <input name="accountId" type="hidden" value="584877">
  <input name="description" type="hidden" value="Impresión de Printa Delivery">
  <input name="referenceCode" type="hidden" value="{{order?.id}}">
  <input name="amount" type="hidden" value="{{order?.paymentTotal}}">
  <input name="tax" type="hidden" value="0">
  <input name="currency" type="hidden" value="COP">
  <input name="signature" type="hidden" value="{{signature}}">
  <input name="buyerEmail" type="hidden" value="{{order?.owner?.email}}">
  <input name="responseUrl" type="hidden" value="{{origin}}/estado/{{order?.id}}">
  <input name="confirmationUrl" type="hidden" value="{{origin}}/api/confirmation">
</form>
