<new-place [opened]="openNewPlace"
             [places]="allPlaces"
             [uniques]="uniques"
             (closeWindow)="closeNewPlace($event);"></new-place>
<edit-place [openedEdit]="openEditPlace"
              [allPlaces]="allPlaces"
              [place] = "selectedPlace" 
             (closeWindow)="closeEditPlace($event);"></edit-place>
<div class="grid-12-xs last">
  <div class="cont90">
    <p class="bigtitle pedidos helvetica-bold">Lugares de Entrega</p>
    <div class="grid-12-xs last menuadmin">
      <a class="helvetica-bold right" (click)="createPlace()">Crear Lugar</a>
    </div>
    <table data-accordion class="tg">
      <tr>
        <th class="helvetica-bold">Lugar</th>
        <th class="helvetica-bold">Referencia</th>
        <th class="helvetica-bold">Valor Envío</th>
        <th class="helvetica-bold"></th>
        <th class="helvetica-bold"></th>
      </tr>
      <tbody class="accordion" data-content *ngFor="let unique of uniques">
      <tr [class.tdsel]="unique.showSubs">
        <td>{{unique.lugar}}</td>
        <td>{{unique.referencia}}</td>
        <td data-control style="cursor: pointer;" (click)="showPlacesFromUnique(unique)"><b class="helvetica-bold">Horarios <i class="icon-arrow-down"></i></b></td>
        <td style="cursor: pointer;"><a (click)="editPlace(unique)"><b class="helvetica-bold">Editar</b></a></td>
        <td></td>
        <td></td>
      </tr>

      <ng-container *ngIf="unique.showSubs">
        <tr class="inside-product-unique-header">
          <th class="helvetica-bold"></th>
          <th><b class="helvetica-bold">Hora Inicio</b></th>
          <th><b class="helvetica-bold">Hora Final</b></th>
          <th><b class="helvetica-bold">Valor Envío</b></th>
          <th><b class="helvetica-bold">Habilitado</b></th>
        </tr>
        <tr *ngFor="let horario of unique.horarios">
          <td></td>
          <td>{{horario.hora_inicio}}</td>
          <td>{{horario.hora_fin}}</td>
          <td>{{horario.valor_envio | currency:'COP'}}</td>
          <td>
            <i style="font-size: 22px;" *ngIf="horario.habilitado" class="icon-tick"></i>
            {{!horario.habilitado ? '-' : ''}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="metricas-places" *ngIf="isGerencia">
  <table data-accordion class="tg">
    <tr>
        <th align="center"># de Lugares</th>
        <th align="center"># de Horarios</th>
        <th rowspan="2">{{dateToday}}</th>
    </tr>
    <tr>
        <td align="center">{{totalPlaces}}</td>
        <td align="center">{{totalSchedules}}</td>
        <td></td>
    </tr>
  </table>
</div>