<new-product [opened]="openNewProduct"
             [products]="allProducts"
             [uniques]="uniques"
             (closeWindow)="closeNewProduct($event);"></new-product>
<edit-product [openedEdit]="openEditProduct"
              [allProducts]="allProducts"
              [product] = "selectedUnique" 
             (closeWindow)="closeEditProduct($event);"></edit-product>
<div class="grid-12-xs last">
  <div class="cont90">
    <p class="bigtitle pedidos helvetica-bold">Productos</p>
    <div class="grid-12-xs last menuadmin">
      <a [class.sel]="selectedFilter === 'none'" class="helvetica-bold" (click)="toggleFilter('none')">Todos</a>
      <a [class.sel]="selectedFilter === 'impresion'" class="helvetica-bold" (click)="toggleFilter('impresion')">Impresión</a>
      <a [class.sel]="selectedFilter === 'vinyl'" class="helvetica-bold" (click)="toggleFilter('vinilo')">Vinilo de
        corte</a>
      <a [class.sel]="selectedFilter === 'laser'" class="helvetica-bold" (click)="toggleFilter('laser')">Corte láser</a>
      <a [class.sel]="selectedFilter === 'tinta'" class="helvetica-bold" (click)="toggleFilter('tinta')">Tintas</a>
      <a class="helvetica-bold right" (click)="createProduct()">Crear producto</a>
    </div>
    <table data-accordion class="tg">
      <tr>
        <th class="helvetica-bold">Material</th>
        <th class="helvetica-bold">Uso</th>
        <th class="helvetica-bold">Color</th>
        <th class="helvetica-bold">Acabado</th>
        <th class="helvetica-bold"></th>
        <th class="helvetica-bold"></th>
      </tr>
      <tbody class="accordion" data-content *ngFor="let unique of uniques | filterProducts:selectedFilter">
      <tr [class.tdsel]="unique.showSubs">
        <td>{{unique.material}}</td>
        <td style="text-transform: capitalize;">{{unique.tipo}}</td>
        <td>{{unique.color || '-'}}</td>
        <td>{{unique.acabado || '-'}}</td>
        <td data-control style="cursor: pointer;" (click)="showProductsFromUnique(unique)"><b class="helvetica-bold">Presentaciones <i class="icon-arrow-down"></i></b></td>
        <td style="cursor: pointer;"><a (click)="editProduct(unique)"><b class="helvetica-bold">Editar</b></a></td>
        <td></td>
        <td></td>
      </tr>

      <ng-container *ngIf="unique.showSubs">
        <tr class="inside-product-unique-header">
          <th class="helvetica-bold"></th>
          <th *ngIf="unique.tipo == 'impresion'"><b class="helvetica-bold">Tamaño</b></th>
          <th *ngIf="unique.tipo == 'impresion' || unique.tipo == 'vinilo'"><b class="helvetica-bold">Gramaje</b></th>
          <th *ngIf="unique.tipo == 'vinilo'"><b class="helvetica-bold">Mt. ancho máx</b></th>
          <th *ngIf="unique.tipo == 'vinilo'"><b class="helvetica-bold">Mt. largo x rollo</b></th>
          <th *ngIf="unique.tipo == 'laser'"><b class="helvetica-bold">Espesor</b></th>
          <th><b class="helvetica-bold">Cantidad Actual</b></th>
          <th><b class="helvetica-bold">Cant. Alerta</b></th>
          <th><b class="helvetica-bold">Valor Unitario</b></th>
          <th *ngIf="unique.tipo != 'tinta'"><b class="helvetica-bold">Habilitado</b></th>
        </tr>
        <tr *ngFor="let product of unique.products">
          <td style="text-align: center;">
            <i style="font-size: 22px;color: #c03937;" *ngIf="unique.tipo == 'vinilo' && product.mtscounter == 1 && product.mtscounter <= product.cantidad_alerta" class="icon-warning"></i>
            <i style="font-size: 22px;color: #c03937;" *ngIf="unique.tipo == 'normal' && product.tamano == 'Rollo' && product.cantidad == 1 && product.mtscounter <= product.cantidad_alerta" class="icon-warning"></i>
            <i style="font-size: 22px;color: #c03937;" *ngIf="unique.tipo != 'vinilo' && product.cantidad <= product.cantidad_alerta" class="icon-warning"></i>
          </td>
          <td *ngIf="unique.tipo == 'impresion'">{{product.tamano}}</td>
          <td *ngIf="unique.tipo == 'impresion' || unique.tipo == 'vinilo'">{{product.gramaje}}</td>
          <td *ngIf="unique.tipo == 'vinilo'">{{product.metro_ancho_max}} mts</td>
          <td *ngIf="unique.tipo == 'vinilo'">{{product.metro_largo_rollo}} mts</td>
          <td *ngIf="unique.tipo == 'laser'">{{product.espesor}}</td>
          <td *ngIf="unique.tipo == 'laser' || unique.tipo == 'impresion'">{{product.cantidad}} mts</td>
          <td *ngIf="unique.tipo == 'vinilo' || unique.tipo == 'normal'">{{product.mtscounter}} mts</td>
          <!-- <td *ngIf="unique.tipo == 'vinilo' || unique.tipo == 'normal'">{{product.cantidad*product.metro_largo_rollo}} / {{product.mtscounter}} mts</td> -->
          <td>{{product.cantidad_alerta}} mts</td>
          <td>{{product.valor_unitario | currency:'COP'}}</td>
          <td *ngIf="unique.tipo != 'tinta'">
            <i style="font-size: 22px;" *ngIf="product.habilitado" class="icon-tick"></i>
            {{!product.habilitado ? '-' : ''}}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="metricas" *ngIf="isGerencia">
  <table data-accordion class="tg">
    <tr>
        <th align="center"># de Materiales</th>
        <th align="center"># de Referencias</th>
        <th>$ Total</th>
        <th rowspan="2">{{dateToday}}</th>
    </tr>
    <tr>
        <td align="center">{{totalUniques}}</td>
        <td align="center">{{totalProducts}}</td>
        <td>{{totalProductsPrice | currency:'COP'}}</td>
        <td></td>
    </tr>
  </table>
</div>
