<new-code [opened]="openNewCode"
          [codes] = "codes"
             (closeWindow)="closeNewCode($event);"></new-code>
<!-- <edit-product [openedEdit]="openEditProduct"
              [allProducts]="allProducts"
              [product] = "selectedUnique" 
             (closeWindow)="closeEditProduct($event);"></edit-product> -->
<div class="grid-12-xs last">
  <div class="cont90">
    <p class="bigtitle pedidos helvetica-bold">Códigos de Promoción</p>
    <div class="grid-12-xs last menuadmin">
      <a class="helvetica-bold right" (click)="createCode()">Crear Código</a>
    </div>
    <table data-accordion class="tg">
      <tr>
        <th class="helvetica-bold">Código</th>
        <th class="helvetica-bold">Cantidad</th>
        <th class="helvetica-bold">Tipo</th>
        <th class="helvetica-bold">Valor</th>
        <th class="helvetica-bold">Fecha de Inicio</th>
        <th class="helvetica-bold">Fecha de caducidad</th>
        <th class="helvetica-bold">Habilitado</th>
      </tr>
      <tbody *ngFor="let code of codes">
        <tr>
          <td>{{code.codigo}}</td>
          <td>{{code.used}} / {{code.cantidad_total}}</td>
          <td *ngIf="code.tipo">Fijo</td>
          <td *ngIf="!code.tipo">Porcentaje</td>
          <td *ngIf="code.tipo">${{code.valor}}</td>
          <td *ngIf="!code.tipo">{{code.valor}}%</td>
          <td>{{code.fecha_inicio}}</td>
          <td>{{code.fecha_caducidad}}</td>
          <td>
          <i *ngIf="!code.habilitado" class="icon-switch-left enable-switch" style="color: gray !important;" (click)="changeState(code.id, true)"></i>
          <i *ngIf="code.habilitado" class="icon-switch-right enable-switch" (click)="changeState(code.id, false)"></i>
          <input type="checkbox" class="css-checkbox" [checked]="code.habilitado==true" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
