<!-- FIRST SECTION HOME -->
<head>
  <title>Portafolio</title>
  <meta name="Description" content="Descubre aquí algunos de nuestros clientes, sus impresiones y/o cortes láser realizado por PrintaDelivery. ">
  <meta name="Keywords" content="impresión impresiones cortes imrpimir cortar archivo Printa Printadelivery Bogotá diseñadores arquitectos corte láser  ">
</head>

<div class="grid-12-xs text-center last">
  <img id="logohomebig" src="img/logobig.png">
</div>
<div class="cont30">
  <img src="img/acabados.svg" alt="Proximamente Printa">
</div>
<div class="cont60">
  <p class="text-center">Estamos poniendo unos acabados adicionales para ofrecerte la mejor experiencia.</p>
</div>
