<steps-menu></steps-menu>
<div class="cont85">
  <div class="grid-12-xs last">
    <div class="grid-4-m">
      <left-panel [order]="order" [toPay]="false"></left-panel>
      <a [class.disabled]="order?.totalPrice === 0" class="continue-button helvetica-bold" (click)="acceptQuote()">Aceptar
        Cotización</a>
      <a class="continue-button helvetica-bold" (click)="router.navigate(['/mis-pedidos'])">Guardar y continuar después</a>
    </div>
    <div class="grid-8-m last">
      <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Cotizando.</span></p>
      <div class="grid-12-xs last text-center marginbottom margintop">
        <img *ngIf="order?.totalPrice === 0" src="img/load.png" id="loadpaso3">
        <i *ngIf="order?.totalPrice > 0" class="icon-input-checked quote-ready-icon"></i>
      </div>
      <div class="cont75 text-center margintopbig">
        <p *ngIf="order?.totalPrice > 0">¡Tu cotización está lista!. Revisa los precios en la columna de la izquierda. Si
          todo está bien, haz click sobre <span class="helvetica-bold">Aceptar Cotización</span> para continuar.</p>
        <p *ngIf="!quoteTime && order?.totalPrice === 0">Estamos estimando el tiempo que tomará cotizar tu pedido. Por
          favor
          aguarda unos segundos.</p>
        <p *ngIf="quoteTime && order?.totalPrice === 0">Estamos estimando el valor de tu pedido con base a tus archivos y
          tus ajustes de
          impresión. En <span
              class="helvetica-bold">{{quoteTime}} minutos</span> o antes tendrás tu cotización.</p>
        <p *ngIf="laserExist" style="color:#C03937;"><strong style="color: #C03937;font-weight: bold;font-size:2rem;">*</strong> El valor cotizado de este archivo para corte láser corresponde al material y el costo de envío. <strong> El tiempo de corte laser se cobrará al momento de la entrega. (Valor minuto: COP800) </strong></p>
      </div>
    </div>
  </div>
</div>
<div class="grid-12-xs last text-center masinfo">
  <img src="img/questions.png" id="questions">
  <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
  <p>(+57) 311-518-9002 / (+57) 744 3279</p>
  <p>contacto@printadelivery.com</p>
</div>
<videos-cont></videos-cont>