<div id="settings-div">
  <div class="cont75">
    <div class="grid-12-xs last caracteristicas margintop">
      <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="grid-12-xs last text-center topcar">
        <p class="helvetica-bold">Elige las características</p>
      </div>
      <div class="grid-12-xs last bottomcar">
        <form #settingsForm="ngForm">
          <div class="cont90">
            <div class="grid-8-m">
              <div class="grid-12-xs">
                <div id="acabados-adicionales-titulo">
                  <h4>Tipo</h4>
                </div>
                <div class="tipoimpre grid-4-xs">
                  <input [(ngModel)]="document.printSettings.type" type="radio" ngControl="tipo-impresion"
                         name="tipo-impresion" id="radio1"
                         class="css-checkbox" value="normal">
                  <label for="radio1" class="helvetica-bold css-label radGroup1">Impresion</label>
                </div>
                <div class="tipoimpre grid-4-xs last">
                  <input [(ngModel)]="document.printSettings.type" type="radio" ngControl="tipo-impresion"
                         name="tipo-impresion" id="radio3"
                         class="css-checkbox" value="laser">
                  <label for="radio3" class="helvetica-bold css-label radGroup1">Corte láser</label>
                </div>
                <div class="tipoimpre grid-4-xs last">
                  <input [(ngModel)]="document.printSettings.type" type="radio" ngControl="tipo-impresion"
                         name="tipo-impresion" id="radio2"
                         class="css-checkbox" value="vinilo">
                  <label for="radio2" class="helvetica-bold css-label radGroup1">Ploter de corte / Stickers</label>
                </div>
              </div>

              <!--impresión normal-->
              <div *ngIf="settingsForm?.controls['tipo-impresion']?.value === 'normal'" id="print-settings-wrapper">

                <div class="grid-4-xs">
                  <p>Ajustes de color</p>
                  <div class="grid-12-xs last">
                    <label class="select">
                      <select [(ngModel)]="document.printSettings.color" class="helvetica-bold" name="ajustes-color">
                        <option *ngFor="let c of colors" [value]="c">{{c}}</option>
                      </select>
                    </label>
                  </div>
                </div>

                <div class="grid-4-xs">
                  <p>Tipo de papel *</p>
                  <div class="grid-12-xs last">
                    <label class="select">
                      <select [(ngModel)]="document.printSettings.paper" class="helvetica-bold" ngControl="tipo-papel" name="tipo-papel">
                        <option *ngFor="let p of papers" [value]="p">{{p}}</option>
                      </select>
                    </label>
                  </div>
                </div>

                <div class="grid-4-xs last">
                  <p>Copias</p>
                  <div class="grid-12-xs last">
                    <input type="number" [(ngModel)]="document.printSettings.numCopies" class="helvetica-bold" name="copias" min="1">
                  </div>
                </div>
                
                <div class="grid-4-xs">
                  <p>Tamaño *</p>
                  <div class="grid-12-xs last">
                    <label *ngIf="document.printSettings.paper != 'Seleccione tipo de papel'" class="select one">
                      <select [(ngModel)]="document.printSettings.size" class="helvetica-bold" name="tamano">
                        <option *ngFor="let s of sizes" [value]="s">{{s}}</option>
                      </select>
                    </label>

                    <label *ngIf="document.printSettings.paper === 'Seleccione tipo de papel'" class="select two">
                      <select disabled [(ngModel)]="document.printSettings.size" class="helvetica-bold" name="tamano">
                        <option *ngFor="let s of sizes" [value]="s">{{s}}</option>
                      </select>
                    </label>

                  </div>
                </div>

                <div class="grid-4-xs">
                  <p>Gramaje (Grosor) *</p>
                  <div *ngIf="document.printSettings.size != 'Seleccione tamaño'" class="grid-12-xs last">
                    <label class="select">
                      <select [(ngModel)]="document.printSettings.grams" class="helvetica-bold" name="gramaje">
                        <option *ngFor="let g of grams" [value]="g">{{g}}</option>
                      </select>
                    </label>
                  </div>

                  <div *ngIf="document.printSettings.size === 'Seleccione tamaño'" class="grid-12-xs last">
                    <label class="select">
                      <select disabled [(ngModel)]="document.printSettings.grams" class="helvetica-bold" name="gramaje">
                        <option *ngFor="let g of grams" [value]="g">{{g}}</option>
                      </select>
                    </label>
                  </div>

                </div>
                
                <div class="grid-4-xs last">
                  <p>Tiro y retiro (Ambas caras)</p>
                  <input type="checkbox" [ngModel]="document.printSettings.tiro" name="tiro" class="css-checkbox" id="tiro-retiro"/>
                  <label for="tiro-retiro" class="css-label-check"></label>
                </div>

                <!--caracteristicas del papel, para impresión sobre vinilo-->
                <div *ngIf="materialColors.length > 0" class="grid-12-xs last">
                  <h4>Características del papel</h4>
                </div>
                <div *ngIf="materialColors.length > 0" class="grid-6-xs">
                  <p>Color del papel</p>
                  <label class="select">
                    <select [(ngModel)]="document.printSettings.additionals.paperColor" class="helvetica-bold"
                            name="color-papel">
                      <option *ngFor="let m of materialColors" [value]="m">{{m}}</option>
                    </select>
                  </label>
                </div>
                <div *ngIf="materialColors.length > 0" class="grid-6-xs last">
                  <p>Acabado del papel</p>
                  <label class="select">
                    <select [(ngModel)]="document.printSettings.additionals.paperFinish" class="helvetica-bold"
                            name="acabado-papel">
                      <option *ngFor="let f of finishes" [value]="f">{{f}}</option>
                    </select>
                  </label>
                </div>
              </div>

              <!--Form de vinilo de corte-->
              <div *ngIf="settingsForm?.controls['tipo-impresion']?.value === 'vinilo'" id="vinyl-settings-wrapper">
                <div class="grid-12-xs last">
                  <div class="grid-5-xs">
                    <p>Color del Vinilo</p>
                    <div class="grid-12-xs last">
                      <label class="select">
                        <select [(ngModel)]="document.printSettings.color" class="helvetica-bold" name="color-material">
                          <option *ngFor="let c of vinylColors" [value]="c">{{c}}</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="grid-5-xs last">
                    <p>Copias</p>
                    <div class="grid-12-xs last">
                      <input type="number" [(ngModel)]="document.printSettings.numCopies" class="helvetica-bold" name="copias" min="1">
                    </div>
                  </div>                  
                </div>
                <div class="grid-10-xs last">
                  <p>Acabado del Vinilo</p>
                  <label class="select" *ngIf="document.printSettings.color != 'Seleccione color'">
                    <select [(ngModel)]="document.printSettings.paper" class="helvetica-bold" name="material">
                      <option *ngFor="let c of vinylFinishes" [value]="c">{{c}}</option>
                    </select>
                  </label>
                  <label class="select" *ngIf="document.printSettings.color == 'Seleccione color'">
                    <select disabled [(ngModel)]="document.printSettings.paper" class="helvetica-bold" name="material">
                      <option *ngFor="let c of vinylFinishes" [value]="c">{{c}}</option>
                    </select>
                  </label>
                </div>
                <input type="hidden" [(ngModel)]="document.printSettings.grams" class="helvetica-bold" name="gramaje">
              </div>

              <!--Form de corte laser-->
              <div *ngIf="settingsForm?.controls['tipo-impresion']?.value === 'laser'" id="cut-settings-wrapper">

                <div class="grid-12-xs last">
                  <div class="grid-4-xs">
                    <p>Material</p>
                    <label class="select">
                      <select [(ngModel)]="document.printSettings.paper" class="helvetica-bold" name="material">
                        <option *ngFor="let c of materials" [value]="c">{{c}}</option>
                      </select>
                    </label>

                  </div>

                  <div class="grid-4-xs">
                    <p>Color del Material</p>
                    <div class="grid-12-xs last">
                      <label class="select" *ngIf="document.printSettings.paper == 'Seleccione material'">
                        <select disabled [(ngModel)]="document.printSettings.color" class="helvetica-bold" name="color-material">
                          <option *ngFor="let c of materialColors" [value]="c">{{c}}</option>
                        </select>
                      </label>

                      <label class="select" *ngIf="document.printSettings.paper != 'Seleccione material'">
                        <select [(ngModel)]="document.printSettings.color" class="helvetica-bold" name="color-material">
                          <option *ngFor="let c of materialColors" [value]="c">{{c}}</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  
                  <div class="grid-4-xs last">
                    <p>Copias</p>
                    <div class="grid-12-xs last">
                      <input type="number" [(ngModel)]="document.printSettings.numCopies" class="helvetica-bold" name="copias" min="1">
                    </div>
                  </div>

                </div>
                <div class="grid-6-xs">
                  <p>Tamaño máximo</p>
                  <div class="grid-12-xs last" *ngIf="document.printSettings.paper == 'Seleccione material'">
                    <input disabled type="text" [ngModel]="materialMaxSize" class="helvetica-bold" name="tamano-max">
                  </div>
                  <div class="grid-12-xs last" *ngIf="document.printSettings.paper != 'Seleccione material'">
                    <input disabled type="text" [ngModel]="materialMaxSize" class="helvetica-bold" name="tamano-max" style="background-color: transparent; color: #333 !important;">
                  </div>
                </div>
                <div class="grid-6-xs last">
                  <p>Espesor</p>
                  <div class="grid-12-xs last" *ngIf="document.printSettings.paper == 'Seleccione material'">
                    <input disabled type="text" [ngModel]="materialThickness" class="helvetica-bold" name="espesor">
                  </div>
                  <div class="grid-12-xs last" *ngIf="document.printSettings.paper != 'Seleccione material'">
                    <input disabled type="text" [ngModel]="materialThickness" class="helvetica-bold" name="espesor" style="background-color: transparent; color: #333 !important;">
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-4-m last">
              <!-- <div id="settings-pdf-preview">
                <p class="click-to-configure">Haz click para ver tu archivo</p>
                <p class="pdf-large helvetica-bold">PDF</p>
                <a target="_blank" href="/uploads/{{document.server_filename}}"></a>
              </div> -->
              <div class="settings-doc-preview" [class.pdf]="document.format == 'pdf'" [class.psd]="document.format == 'psd'" [class.ai]="document.format == 'ai'" [class.dwg]="document.format == 'dwg'" (click)="openFile(document.server_filename)"></div>
              <p class="text-black text-center"><i class="icon-attachment"></i> {{ document.name | truncate:33 }}</p>
              <a id="save-settings-button" class="anadirarchivo helvetica-bold disabled" *ngIf="errorSettings">Guardar
                Ajustes</a>
              <a id="save-settings-button" class="anadirarchivo helvetica-bold" *ngIf="!errorSettings" (click)="saveSettings()">Guardar
                  Ajustes</a>
              <a id="delete-document-button" class="anadirarchivo helvetica-bold" (click)="deleteDocument()">Eliminar
                Documento</a>
              <p *ngIf="errorSettings" class="text-center" style="font-size: 0.8rem;">* Completa los campos requeridos</p>
              <p *ngIf="errorAsesoria" class="text-center" style="font-size: 0.8rem;">** Debes elegir un tipo de asesoría de lo contrario cargar un archivo .pdf</p>
            </div>

            <!--acabados adicionales-->
            <div class="grid-12-xs last acabados-adicionales">
              <div id="acabados-adicionales-titulo">
                <h4>Acabados adicionales (opcionales)</h4>
                <!-- <hr class="settings-section-divider"> -->
              </div>

              <div class="grid-12-xs">
                <div class="grid-3-xs last">
                  <p>Respaldo de Foamboard</p>
                  <input id="respaldo-foamboard" type="checkbox"
                         [(ngModel)]="document.printSettings.additionalFinishes.respaldoFoamboard"
                         name="respaldoFoamboard" value="foamboard"
                         class="css-checkbox"
                         (click)="updateRespaldo('foamboard')"/>
                         <label for="respaldo-foamboard" class="css-label-check"></label>
                </div>
                <div class="grid-3-xs last">
                  <p>Respaldo de Cartón</p>
                  <input type="checkbox"
                         [(ngModel)]="document.printSettings.additionalFinishes.respaldoCarton"
                         name="respaldoCarton"
                         value="carton" id="respaldo-carton"
                         class="css-checkbox" (click)="updateRespaldo('carton')"/>
                  <label for="respaldo-carton" class="css-label-check"></label>
                </div>
                <div class="grid-2-xs last" style="position: relative;">
                  <p>Recorte</p>
                  <input id="recorte-input"
                         type="checkbox" [(ngModel)]="document.printSettings.additionalFinishes.recorte" name="recorte"
                         value="true"
                         class="css-checkbox"/>
                  <label for="recorte-input" class="css-label-check"></label>
                </div>
  
                <div class="grid-2-xs last" style="position: relative;" *ngIf="settingsForm?.controls['tipo-impresion']?.value === 'normal'">
                  <p>Encuadernado</p>
                  <input id="encuadernado-input"
                         type="checkbox" [(ngModel)]="document.printSettings.additionalFinishes.encuadernado" name="encuadernado"
                         value="true"
                         class="css-checkbox"/>
                  <label for="encuadernado-input" class="css-label-check"></label>
                </div>
                <div class="grid-2-xs last" style="position: relative;" *ngIf="settingsForm?.controls['tipo-impresion']?.value === 'normal'">
                  <p>Anillado</p>
                  <input id="anillado-input"
                         type="checkbox" [(ngModel)]="document.printSettings.additionalFinishes.anillado" name="anillado"
                         value="true"
                         class="css-checkbox"/>
                  <label for="anillado-input" class="css-label-check"></label>
                </div>
              </div>

              <div class="grid-12-xs">
                <div class="grid-3-left-xs grid-3-xs" style="position: relative;" *ngIf="document.format != 'pdf'">
                  <p>Asesoría en escala **</p>
                  <input id="asesoria-escala"
                         type="checkbox" [(ngModel)]="document.printSettings.additionalFinishes.asesoria_escala" name="asesoria_escala"
                         value="true"
                         class="css-checkbox"/>
                  <label for="asesoria-escala" class="css-label-check"></label>
                </div>
                <div class="grid-3-xs" style="position: relative;" *ngIf="document.format != 'pdf'">
                  <p>Asesoría en ajuste de color **</p>
                  <input id="asesoria-color"
                         type="checkbox" [(ngModel)]="document.printSettings.additionalFinishes.asesoria_color" name="asesoria_color"
                         value="true"
                         class="css-checkbox"/>
                  <label for="asesoria-color" class="css-label-check"></label>
                </div>
              </div>
              <!--<div class="grid-3-xs last">
                <p>RedBull</p>
                <label class="select">
                  <select [(ngModel)]="document.printSettings.additionalFinishes.redBull"
                          class="helvetica-bold" name="red-bull">
                    <option *ngFor="let n of [0,1,2,3,4,5,6,7,8]" [value]="n">{{n}}</option>
                  </select>
                </label>
              </div>-->
            </div>
            <div class="grid-12-xs last">
              <div id="acabados-adicionales-titulo">
                <h4>Instrucciones adicionales</h4>
              </div>
              <!-- <h5>Instrucciones adicionales</h5> -->
              <textarea [(ngModel)]="document.printSettings.additionalFinishes.userInstructions" name="userInstructions" id="instrucciones"
                        cols="30" rows="3"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
