<steps-menu></steps-menu>
<div id="wait-modal" *ngIf="showWaitModal">
  <div id="wait-modal-content">
    <div class="loader" id="wait-modal-loader"></div>
    <p>Estamos recibiendo la información de PayU.</p>
  </div>
</div>
<div id="fb-root"></div>
<div class="cont85">
  <div class="grid-12-xs last">
    <div class="grid-4-m">
      <left-panel [order]="order" [toPay]="true"></left-panel>
      <p class="middletitle helvetica-bold">Comparte el estado de tu trabajo.</p>
      <div class="share-buttons-container">
        <div id="fb-send-button" class="fb-send" [attr.data-href]="currentUrl"
             data-layout="'button_count'"
             size="large"></div>
        <div id="send-email-button">
          <a
              href="mailto:?subject=Conoce el estado de la orden {{order?.id}} en Printa!&body={{currentUrl}}"><i
              class="icon-mail"></i>Enviar por Email</a>
        </div>
        <div id="google-share-button" class="g-plus" data-action="share" data-annotation="none"
             [attr.data-href]="origin + '/estado/' + order?.id"
             data-height="24"></div>
      </div>
      <a class="anadirarchivo helvetica-bold" (click)="exitStatusComponent();">Finalizar y ver Mis Pedidos</a>
    </div>
    <div class="grid-8-m last">
      <p [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="bigtitle helvetica-bold"><span>Estado de tu pedido.</span></p>
      <p class="payment-status-info" *ngIf="order?.paid">Tu pedido se encuentra pago en nuestro sistema.</p>
      <p class="payment-status-info" *ngIf="!order?.paid">Has seleccionado la opción de pago en efectivo. Tu pago debe
        ser realizado contra entrega.</p>
      <div class="grid-12-xs last text-center marginbottom margintop">
        <div class="grid-6-xs text-left">
          <div class="grid-12-xs last">
            <div class="circleabsiup"></div>
            <div class="circleabsdown"></div>
            <div class="palitoblack" [class.sel]="order?.status === 'imprimiendo'"></div>
            <p class="tituloblack">Proceso de impresión.</p>
          </div>
          <div class="grid-12-xs last">
            <div class="circleabsdown"></div>
            <div class="palitoblack" [class.sel]="order?.status === 'acabados'"></div>
            <p class="tituloblack">Acabados adicionales.</p>
          </div>
          <div class="grid-12-xs last">
            <div class="circleabsdown"></div>
            <div class="palitoblack" [class.sel]="order?.status === 'despachado'"></div>
            <p class="tituloblack">Despachado.</p>
          </div>
          <div class="grid-12-xs last">
            <div class="circleabsdown"></div>
            <div class="palitoblack" [class.sel]="order?.status === 'entregado'"></div>
            <p class="tituloblack">Entregado.</p>
          </div>
        </div>
        <div class="grid-6-xs text-center last status-images">
          <div *ngIf="order?.status === 'imprimiendo'">
            <img src="img/impresion.svg">
            <p>Tus archivos se encuentran en impresión.</p>
          </div>
          <div *ngIf="order?.status === 'acabados'">
            <img src="img/acabados.svg">
            <p>Estamos trabajando en los acabados adicionales que solicitaste.</p>
          </div>
          <div *ngIf="order?.status === 'despachado'">
            <img src="img/despachado.svg">
            <p>Tu pedido está listo y se encuentra en camino.</p>
          </div>
          <div *ngIf="order?.status === 'entregado'">
            <img src="img/entregado.svg">
            <p>Tu pedido ha sido entregado satisfactoriamente.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Google Code for Compra Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 877797174;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "LlhjCOnA424Qtr7IogM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/877797174/?label=LlhjCOnA424Qtr7IogM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>