<div class="cont95">
  <div class="grid-12-xs text-center last pasos">
    <div class="grid20">
      <a [class.active]="router.url === '/subir'"
         [class.gray]="flowControlService.isAllowedIn(0) && router.url !== '/subir'">
        <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="circle"></div>
      </a>
      <div class="middlelineleft"></div>
      <p>Sube tus archivos</p>
    </div>
    <div class="grid20">
      <a [class.active]="router.url === '/datos-orden'"
        [class.gray]="router.url === '/cotiza' || router.url === '/paga' || isStatus()">
        <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="circle disabled"></div>
      </a>
      <div class="middleline"></div>
      <p>Ingresa tus datos</p>
    </div>
    <div class="grid20">
      <a [class.active]="router.url === '/cotiza'"
         [class.gray]="router.url === '/paga' || isStatus()">
        <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="circle disabled"></div>
      </a>
      <div class="middleline"></div>
      <p>Cotiza</p>
    </div>
    <div class="grid20">
      <a [class.active]="router.url === '/paga'"
         [class.gray]="isStatus()">
        <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="circle disabled"></div>
      </a>  
      <div class="middleline"></div>
      <p>Paga</p>
    </div>
    <div class="grid20">
      <a [class.active]="isStatus()">
        <div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="circle disabled"></div>
      </a>
      <div class="middlelineright"></div>
      <p>Estado de tu Pedido</p>
    </div>
  </div>
</div>
