<head>
  <title>Términos y condiciones</title>
  <meta name="Description" content="Aquí encontrarás las políticas legales del proceso para la impresión tanto del cliente como de Printa. ">
  <meta name="Keywords" content="impresión impresiones cortes imrpimir cortar archivo Printa Printadelivery Bogotá diseñadores arquitectos corte láser  ">
</head>

<div id="faq-container" class="grid-2-xs-left grid-10-xs last">
  <div class="cont90 therms">
    <h1>Términos y Condiciones</h1>
    <p>
      En el momento de dar click en la palabra “Acepto” queda explícitamente entendido que en calidad de titular de la información
      y en virtud de lo dispuesto en la Ley 1581 del 2012 sobre la protección de datos personales, la cual tiene por objeto
      “desarrollar el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar las informaciones
      que se hayan recogido sobre ellas en bases de datos o archivos...”, así como las demás normas que la modifiquen, adicionen
      y/o complementen, autorizo de manera irrevocable, expresa, voluntaria, previa, concreta, suficiente e inequívoca a
      GRUPO PRINTA S.A.S (en adelante “PRINTA DELIVERY”) sociedad comercial identificada con el NIT no. 900.983.527-1 y con
      domicilio principal en Bogotá D.C., o a quien represente, sus derechos con la finalidad que la información personal
      y comercial de la cual soy titular sea administrada, conservada, usada, operada, tratada, procesada, confirmada y consultada
      por terceros autorizados explícitamente en la ley.
    </p>
    <p>
      Del mismo modo, a través de dicha autorización doy constancia que conozco la política de protección de datos personales de
      “PRINTA DELIVERY” contenida en su página web www.printadelivery.com y que mis datos serán recogidos en una base de
      datos como arriba se señala y siguiendo la política de protección de datos, por un plazo indeterminado, contado a partir
      de la aceptación.
    </p>
    <p>
      Asimismo, declaro que conozco la posibilidad que tengo de acceder en cualquier momento a los datos suministrados, así como
      de solicitar la corrección, actualización o supresión de los mismos y/o revocar esta autorización de tratamiento para
      uno, varios o todos los fines autorizados, pudiendo presentar consultas y reclamos ante “PRINTA DELIVERY” bajo los
      términos establecidos en la esta página web, a saber, www.printadelivery.com.
    </p>
    <p>
      Por otro lado, “PRINTA DELIVERY” respeta la confidencialidad y seguridad de la información, por tal razón se preocupa por
      preservar los datos que usted nos ha proporcionado de manera directa o mediante el uso de medios electrónicos, etc.
    </p>
    <p>
      En señal de aceptación de lo anterior, consiento y autorizo que mis datos personales sean tratados conforme a la presente
      política de autorización de “PRINTA DELIVERY”, consignada en su página web www.printadelivery.com.
    </p>

    <h1>Datos Bancarios</h1>
    <p>PRINTA recuerda que en su plataforma, a saber, www.printadelivery.com, no se maneja directamente ningún dato bancario
      del usuario, todo esto se hace a través de los operadores bancarios, quienes son los responsables del tratamiento de
      este tipo de datos.</p>
  </div>
</div>