<div id="newitemdiv" *ngIf="despachado">
  <div class="cont60">
    <div class="grid-12-xs last caracteristicas margintop marginbottom">
      <div class="grid-12-xs last text-center topcar">
        <i class="icon-times closearchivosdiv" (click)="closeUpdateStock()"></i>
        <p class="helvetica-bold">Recursos Utilizados</p>
      </div>
      <div class="grid-12-xs last bottomcar backwhite">
        
        <div *ngFor="let document of documents; let i = index">
          <div class="grid-12-xs last">
            <div class="cont90">

              <div class="grid-2-m last">
                <p>Documento</p>
                <p class="text-first-capital helvetica-bold blackcolor">{{ document.name | truncate:33 }}</p>
              </div>

              <div class="grid-12-xs last">

                <!--info panel for normal print-->
                <div *ngIf="document.printSettings.type === 'normal'" id="print-info-container">
                  <div class="grid-3-m last">
                    <p>Tipo de impresión</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.type }}</p>
                  </div>
                  <div class="grid-2-m last">
                    <p>Tamaño</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.size }}</p>
                  </div>
                  <div class="grid-2-m last">
                    <p>Tipo de Papel</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                  <div class="grid-1-m">
                    <p>Gramaje</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.grams }}</p>
                  </div>
                  <div class="grid-2-m last">
                    <p>Tiro y retiro</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.tiro ? 'Sí' : 'No' }}</p>
                  </div>
                  <div class="grid-1-m">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>
                  <div class="grid-1-m last">
                    <p>Páginas</p>
                    <p class="helvetica-bold blackcolor">{{ document.filePages }}</p>
                  </div>
                </div>

                <!--muestra de datos para vinilo de corte-->
                <div *ngIf="document.printSettings.type === 'vinilo'" id="vinyl-info-container">
                  <div class="grid-6-m last">
                    <p>Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                  <div class="grid-6-m">
                    <p>Color del Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.color }}</p>
                  </div>
                  <div class="grid-6-m last">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>
                </div>

                <!--muestra de datos para corte laser-->
                <div *ngIf="document.printSettings.type === 'laser'" id="laser-info-container">
                  <div class="grid-6-m last">
                    <p>Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.paper }}</p>
                  </div>
                  <div class="grid-6-m">
                    <p>Color del Material</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.color }}</p>
                  </div>
                  <div class="grid-6-m last">
                    <p>Copias</p>
                    <p class="helvetica-bold blackcolor">{{ document.printSettings.numCopies }}</p>
                  </div>
                </div>    

              </div>

              <div class="grid-12-xs last">

                <div class="grid-3-m last" *ngIf="document.printSettings.type != 'vinilo' && document.printSettings.size != 'Rollo'">
                  <div class="grid-12-xs last">
                    <p>Unidades Utilizadas</p>
                    <form #form="ngForm">
                      <input type="number" name="sheets" ngModel="{{sheets}}" class="font24" value="{{ document.sheets }}">
                      <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="saveDocumentPrice(document,form.value, i);">Guardar Cambios</a>
                    </form>
                  </div>
                </div>

                <div class="grid-3-m last" *ngIf="document.printSettings.type === 'vinilo' || document.printSettings.size === 'Rollo'">
                  <div class="grid-12-xs last">
                    <p>mts. Utilizados</p>
                    <form #form="ngForm">
                      <input type="number" name="sheets" ngModel="{{sheets}}" class="font24" value="">
                      <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="saveDocumentPrice(document,form.value, i);">Guardar Cambios</a>
                    </form>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div *ngIf="documents.length > 1" class="grid-12-xs last">
            <div class="cont90">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
