<steps-menu></steps-menu>
<settings [document]="selectedDocument" *ngIf="selectedDocument" (settings)="updateOrder($event)"></settings>
<advisory *ngIf="openAdvisory" [openAdvisory]="openAdvisory" (settings)="updateAdvisory($event)"></advisory>
<div class="paso1 grid-12-xs last">
  <div class="cont90">
    <div class="grid-12-xs last">
      
        <div *ngFor="let document of order.documents; let i = index" [class.disabled]="!document.server_filename"
             class="grid-3-xs thumb document-in-grid" [class.last]="0==(i+1)%4 && i!=0"
             (click)="onDocumentSelected(document)">

          <div class="grid-3-xs-left grid-6-xs progressthumb last" [class.not-configured]="!document.verificado" [class.pdf]="document.format == 'pdf'" [class.psd]="document.format == 'psd'" [class.ai]="document.format == 'ai'" [class.dwg]="document.format == 'dwg'">
            <div *ngIf="!document.server_filename" class="loader-container" [class.pdf]="document.format == 'pdf'" [class.psd]="document.format == 'psd'" [class.ai]="document.format == 'ai'" [class.dwg]="document.format == 'dwg'">
              <div class="loader-wrapper"></div>
            </div>
          </div>

          <div class="grid-3-xs-left grid-6-xs text-center">
            <div style="margin-bottom: 1rem">
              <i class="icon-attachment"></i>
              <span>{{ document.name | truncate:32 }} </span>
            </div>
            <div class="grid-12-xs">
                <a *ngIf="!document.verificado" class="configurararchivo helvetica-bold">Configurar</a>
                <a *ngIf="document.verificado" class="editararchivo helvetica-bold">Editar</a>
            </div>
          </div>
          
        </div>

        <div class="sad-sheet-content text-center" *ngIf="order.documents.length == 0">
          <div class="sad-sheet"></div>
          <p style="font-size: 1rem;">Nada más triste que una hoja en blanco.</p>
          <p style="font-size: 0.85rem;">Subir archivos grandes puede tardar varios minutos</p>
        </div>

        <div class="grid-12-xs last">
          <div class="grid-1-xs-left grid-5-xs text-center addthumb">
            <!-- <input id="file-upload-input" type="file" (change)="fileChangeEvent($event)" accept=".pdf, application/pdf"> -->
            <input id="file-upload-input" type="file" (change)="fileChangeEvent($event)" accept=".pdf, application/pdf">
            <i [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="icon-plus"></i>
            <h2 style="margin-bottom:0; font-size: 2rem;">Añadir Archivo</h2>
            <p style="font-size: 0.85rem;">Sube tus archivos listos para impresión / corte (.pdf)</p>
          </div>
  
          <div class="grid-1-xs-left grid-5-xs text-center addthumb last" (click)="openAdvisoryModal()">
            <!-- <input id="file-upload-input" type="file" (change)="fileChangeEvent($event)" accept=".pdf, application/pdf"> -->
            <i [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" class="icon-plus"></i>
            <h2 style="margin-bottom:0; font-size: 2rem;">Asesoría</h2>
            <p style="font-size: 0.85rem;">Sube tus archivos originales (.psd, .ai, .dwg) para cambiarlos en caso de ser necesario.</p>
          </div>
          <input id="file-upload-input" style="display:none" class="input-file-advisory" type="file" (change)="fileChangeEvent($event)" accept=".psd, .ai, .dwg">
        </div>
        
        <div id="upload-bottom-buttons-container" class="grid-4-xs last">
          <div class="grid-6-xs">
            <a id="start-over-button" class="anadirarchivo helvetica-bold" (click)="startOver()">Comenzar de Nuevo</a>
          </div>
          <div class="grid-6-xs last">
            <a id="continue-to-quote" class="continue-button helvetica-bold" (click)="navigateToDataOrder();"
            [class.disabled]="!dataService.orderDataValid">Continuar</a>
          </div>
        </div>

    </div>
  </div>
</div>
<div class="grid-12-xs last text-center masinfo">
  <img src="img/questions.png" id="questions">
  <p class="helvetica-bold">Si tienes más dudas llámanos o escríbenos por email. {{exact}}</p>
  <p>(+57) 311-518-9002 / (+57) 744 3279</p>
  <p>contacto@printadelivery.com</p>
</div>
<videos-cont></videos-cont>