<new-video [openvideo]="openNewVideo"
             (closeWindow)="closeVideo($event);"></new-video>
<edit-video [openedEdit]="openEditVideo"
              [video] = "selectedVideo" 
             (closeWindow)="closeEditVideo($event);"></edit-video>
<div class="grid-12-xs last">
    <div class="cont90">
        <p class="bigtitle pedidos helvetica-bold">Videos</p>
        <div class="grid-12-xs last menuadmin">
            <a class="helvetica-bold" style="position: relative;float: right" (click)="createVideo()">Agregar video</a>
        </div>
        <table class="tg">
            <tr>
                <th class="helvetica-bold">Titulo</th>
                <th class="helvetica-bold">URL</th>
                <th class="helvetica-bold">Habilitar</th>
                <th class="helvetica-bold">Orden</th>
                <th></th>
                <th></th>
            </tr>
            <tbody>
                <tr *ngFor="let video of videos; let i = index">
                    <td>
                        <img src="{{video.thumbnail}}" style="width: auto;"><br>
                        {{video.title}}
                    </td>
                    <td>{{video.url}}</td>
                    <td>
                        <form>
                            <input type="checkbox" [ngModel]="video.show" (click)="changeStatus(video.id, video.show)" name="show-{{i}}" class="css-checkbox" id="{{i}}"/>
                            <label [attr.for]="i" class="css-label-check"></label>
                        </form>
                    </td>
                    <td>{{video.position}}</td>
                    <td style="cursor: pointer;"><a (click)="editVideo(video)"><b class="helvetica-bold">Editar</b></a></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>