<div [ngClass]="{colored: colorService.colored, magenta: colorService.magenta, yellow: colorService.yellow}" id="videosdudas" class="grid-12-xs last videosdudas">
    <div class="cont95">
        <div class="grid-5-m">

            <div class="grid-12-xs" *ngFor="let video of videos; let i = index">
                <div class="grid-1-xs last palocont">
                    <div class="palo"></div>
                </div>
                <div class="grid-11-xs tipscont last">
                    <div class="sel grid-12-xs last">
                        <p (click)="changeVideo(i)">{{video.title}}</p>
                        <div class="pselleft"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid-7-m last">
            <div [innerHtml]="videocode" class="videocontainer"></div>
        </div>
    </div>
</div>