@import 'helpers/all';
@import 'plugins/all';
@import 'base/all';

$printa-blue: #1CAAE7;
$printa-dark-blue: #106083;
$printa-mangeta: #EE4066;
$printa-dark-magenta: #9C404E;
$printa-yellow: #FFC34A;
$printa-dark-yellow : #B48C4E;

$printa-dark: rgba(0,0,0, 0.6);

#settings-pdf-preview {
  width: 100%;
  height: 16vw;
  background-color: #939598;
  margin-bottom: 1rem;
  position: relative;

  p {
    color: #fff;

    &.click-to-configure {
      font-size: 1.25rem;
    }

    &.pdf-large {
      font-size: 5rem;
      margin-top: 4.5rem;
    }
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }
}

.settings-doc-preview{
  padding: 24%;
  margin-top: 15%;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;

  &.pdf{
    background-image: url("../img/PDFPreview.svg");
  }

  &.psd{
    background-image: url("../img/psdPreview.svg");
  }

  &.ai{
    background-image: url("../img/aiPreview.svg");
  }

  &.dwg{
    background-image: url("../img/dwgPreview.svg");
  }
}

.promo-code-input-wrapper {
  position: relative;

  input#promo-code-input {
    display: inline-block;
    width: 70%;
  }

  i {
    font-size: 24px;
  }

  a#promo-code-button {
    display: inline-block;
    padding-left: 0.75rem;
    position: absolute;
    padding-right: 0.75rem;
    right: 0;
  }
}

#recorte-input {
  position: absolute;
  bottom: -38px;
}

// custom
.grid20 > a.active ~ p {
  font-family: 'HelveticaNeueLTStd-Bd', helvetica;
}

.text-first-capital {
  text-transform: capitalize;
}

h3.under-gif-title {
  margin-top: -2.5rem;
  margin-bottom: 0.5rem;
}

i.document-validated {
  position: absolute;
  right: 0;
}

.caracteristicas {
  h4 {
    font-size: 1.15em;
    margin: 0.1rem 0;
  }
}

input#time-select {
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
}

select#select-lugar {
  width: 100%;
  margin-right: 0.5rem;
}

.quote-ready-icon {
  font-size: 15rem;
}

.middletitle {
  margin-bottom: 0.5rem;
}

p.click-to-configure {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  top: 0;
}

p.pdf-large {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

div.payment-method-element {
  cursor: pointer;

  &.disabled {

  }
}

#wait-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100000;

  #wait-modal-content {
    margin-top: 50vh;
    transform: translateY(-50%);

    p {
      text-align: center;
      color: #fff;
      font-size: 1.25rem;
      width: 50%;
      margin: 2.5rem auto;
    }

    #wait-modal-loader {
      width: 15rem;
      height: 15rem;
    }
  }
}

.no-display {
  display: none !important;
}

a.anadirarchivo.home {
  box-shadow: 6px 6px 0 black;
  background-color: #fff;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0 black;
    color: #000;
  }

  &:active {
    transform: translate(6px, 6px);
    box-shadow: 3px 3px 0 black;
  }
}

a.configurararchivo {
  box-shadow: 6px 6px 0 #C03937;
  background-color: #fff;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0 #C03937;
    color: #C03937;
    background-color: #fff;
  }

  &:active {
    transform: translate(6px, 6px);
    box-shadow: 3px 3px 0 #C03937;
  }
}

a.editararchivo {
  box-shadow: 6px 6px 0 #1CAAE7;
  background-color: #fff;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0 #1CAAE7;
    color: #1CAAE7;
    background-color: #fff;
  }

  &:active {
    transform: translate(6px, 6px);
    box-shadow: 3px 3px 0 #1CAAE7;
  }
}

img#divisor-home {
  height: 100%;
  position: absolute;
  top: 0;
  right: -13vw;
  z-index: -10;
}

.share-buttons-container {
  margin-bottom: 0.5rem;

  & > div {
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: top;
    z-index: 10000;
  }

  #send-email-button {
    a {
      font-size: 0.75rem;
      background-color: #eee;
      padding: 0.5rem;
      border-radius: 1rem;

      i {
        font-size: 1.25rem;
        margin-right: 0.25rem;
        vertical-align: middle;
      }
    }
  }
}

div.status-images img {
  width: 60%;
}

p.form-error {
  margin-top: -1rem;
  font-size: 0.85rem;
  color: #c0392b !important;
}

button.continue-button,
a.continue-button {
  display: block;
  text-align: center;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  padding: 8px 0 6px 0;
  font-size: 14px;
  @include border-radius(30px);
  @include transition(0.6s);
  margin-bottom: 0.75rem;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: #000;
  }

  &.disabled {
    cursor: not-allowed;
    border: 2px solid #bbb;
    color: #bbb;

    &:hover {
      color: #bbb;
      border: 2px solid #bbb;
      background-color: transparent;
    }
  }
}

input.ng-invalid {
  border-bottom: 1px solid #C03937 !important;

  &::-webkit-input-placeholder {
    color: rgba(192, 57, 43, 0.6) !important;
  }

  &::-moz-placeholder {
    color: rgba(192, 57, 43, 0.6) !important;
  }

  &:focus {
    outline-color: rgba(192, 57, 43, 0.6);
  }
}

.grid-12-xs.last.bottomcar.backwhite {
  padding-bottom: 1.5rem;
}

#start-over-button {
  // display: inline-block;
  color: #c0392b;
  border-color: #c0392b;
  // width: 95%;
  // margin-top: 1.5rem;
  // margin-left: 2.5%;

  &:hover {
    background-color: #c0392b;
    color: #fff;
  }
}

h3.inline {
  display: inline-block;
}

form {
  overflow: hidden;
}

form.quote-time {
  display: inline-block;
  margin-left: 1.5rem;

  > input {
    display: inline-block !important;

    &[type=number] {
      width: 13.5rem;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }

    &[type=submit] {
      width: 5rem;
    }
  }
}

#save-settings-button {
  margin-top: 1.5rem;
  margin: auto;
  width: 65%;
}

#delete-document-button {
  color: #c0392b;
  border-color: #c0392b;
  margin: auto;
  margin-top: 0.5rem;
  width: 65%;

  &:hover {
    background-color: #c0392b;
    color: #fff;
  }
}

.bigtitle.colored {
  span {
    color: $printa-blue;
  }
}

.bigtitle.yellow {
  span {
    color: $printa-yellow;
  }
}

.bigtitle.magenta {
  span {
    color: $printa-mangeta;

  }
}

a.active > .circle {
  border: 3px solid #000;
  border-radius: 18px;
  height: 30px;
  background-color: #000;
  z-index: 5;

  &.magenta {
    background-color: $printa-mangeta;

    &:hover {
      background-color: $printa-mangeta;
    }
  }

  &.colored {
    background-color: $printa-blue;

    &:hover {
      background-color: $printa-blue;
    }
  }

  &.yellow {
    background-color: $printa-yellow;

    &:hover {
      background-color: $printa-yellow;
    }
  }

  &:hover {
    background-color: #000;
  }
}

a {
  text-decoration: none;
  color: #333;
}

body {
  background-image: url("../img/back.png");
  background-size: 100%;
  background-position: top left;
  background-repeat: no-repeat;
}

#iconmenu {
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 15px;
  cursor: pointer;
  &:hover {
    color: #6D6E71;
  }
}

#logohead {
  width: 190px;
  height: 59px;
  display: inline-block;
  &:hover {
    opacity: 0.7;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.innerheader {
  border-bottom: 1px solid #BABABA;
  padding: 8px 0;
  background-color: #fff;
}

.socialheaderight {
  i {
    display: inline-block;
    margin-top: 3px;
    font-size: 28px;
    margin-left: 10px;
    cursor: pointer;

    &#color-switch {
      font-size: 40px;
      position: relative;
      top: 6px;
    }
  }
  .icon-social-facebook {
    &:hover {
      color: #3b5998;
    }
  }
  .icon-social-twitter {
    &:hover {
      color: #00aced;
    }
  }
  .icon-social-dribbble {
    &:hover {
      color: #ea4c89;
    }
  }
  .icon-switch-left {
    &:hover {
      color: #53BBB4;
    }
  }
}

footer {
  padding-top: 40px;
  position: relative;
}

.videosdudas {
  &.colored {
    background-color: $printa-blue;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
  &.yellow {
    background-color: $printa-yellow;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
  &.magenta {
    background-color: $printa-mangeta;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
  
  background-color: #000;
  padding: 35px 0;
}

.bajardudas {
  padding-bottom: 20px;
  p {
    cursor: pointer;
    margin: 0;
  }
}

.palo {
  position: fixed;
  width: 1px;
  height: 100%;
  background-color: #fff;
  right: 0;
  top: 0;
}

.paloblack {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #808080;
  right: 0;
  top: 0;
}

.tipscont {
  p {
    color: #fff;
    margin: 0;
    padding: 14px 0;
    font-size: 13px;
    margin-left: 15px;
    &:hover {
      opacity: 0.8;
    }
  }
  p.sel {
    font-size: 16px;
  }
  .pselleft {
    position: absolute;
    left: -3px;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #fff;
  }
}

#questions {
  width: 93px;
  height: 120px;
  margin: auto;
  margin-bottom: 20px;
}

.masinfo {
  margin-bottom: 50px;
  margin-top: 50px;
  p {
    font-size: 28px;
    margin: 0;
  }
}

.pay{
  &.colored {
    background-color: $printa-blue;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
  &.yellow {
    background-color: $printa-yellow;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
  &.magenta {
    background-color: $printa-mangeta;
    p {
      color: #fff;
    }

    span {
      color: #fff;
    }
  }
}

.firstfooter {
  padding: 20px 0;
  background-color: #000;
  p {
    color: #fff;
    text-align: justify;
  }
  h4 {
    color: #fff;
  }
  form {
    textarea {
      width: 100%;
      border: none;
      margin-bottom: 15px;
      @include border-radius(8px);
      padding-top: 15px;
      text-indent: 15px;
    }
  }
  input {
    display: inline-block;
    padding: 11px 25px 8px 25px;
    @include border-radius(15px);
    border: none;
    background-color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
  .link {
    color: #fff;
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .linksocial {
    text-decoration: none;
    i {
      color: #fff;
      font-size: 30px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.secondfooter {
  &.colored {
    background-color: $printa-blue;
  }

  padding: 25px 0;
  background-color: #3C3C3B;
  a {
    text-decoration: none;
    margin: 0 5px;
    &:hover {
      text-decoration: underline;
    }
  }
  a, span {
    color: #fff;
    display: inline-block;
  }
  .anchors {
    margin-bottom: 25px;
  }
  p {
    font-size: 14px;
    color: #fff;
    margin: 0;
  }
}

.imghomearchiv {
  margin-bottom: 25px;
}

#logohomebig {
  width: 150px;
  height: 185px;
  margin: auto;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.anadirarchivo {
  display: block;
  text-align: center;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  padding: 8px 0 6px 0;
  font-size: 14px;
  @include border-radius(30px);
  @include transition(0.6s);
  &:hover {
    color: #fff;
    background-color: #000;
  }

  &.disabled {
    cursor: not-allowed;
    border: 2px solid #bbb;
    color: #bbb;

    &:hover {
      color: #bbb;
      border: 2px solid #bbb;
      background-color: transparent;
    }
  }

}

.descargarDoc {
  display: block;
  text-align: center;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  padding: 8px 0 6px 0;
  font-size: 14px;
  margin-top: 0.5rem;
  @include border-radius(30px);
  @include transition(0.6s);
  &:hover {
    color: #fff;
    background-color: #000;
  }

  &.disabled {
    cursor: not-allowed;
    border: 2px solid #bbb;
    color: #bbb;

    &:hover {
      color: #bbb;
      border: 2px solid #bbb;
      background-color: transparent;
    }
  }

}

.configurararchivo {
  display: block;
  text-align: center;
  border: 2px solid #C03937;
  color: #C03937;
  cursor: pointer;
  padding: 8px 0 6px 0;
  font-size: 14px;
  @include border-radius(30px);
  @include transition(0.6s);
  &:hover {
    color: #fff;
    background-color: #C03937;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.disabled:hover {
    color: inherit;
    background-color: inherit;
  }
}

.editararchivo {
  display: block;
  text-align: center;
  border: 2px solid #1CAAE7;
  color: #1CAAE7;
  cursor: pointer;
  padding: 8px 0 6px 0;
  font-size: 14px;
  @include border-radius(30px);
  @include transition(0.6s);
  &:hover {
    color: #fff;
    background-color: #1CAAE7;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.disabled:hover {
    color: inherit;
    background-color: inherit;
  }
}

.mensajehome {
  margin-top: 30px;
}

.proceso {
  &.colored {
    background-color: $printa-blue;
    p {
      color: $printa-dark;
    }

    span {
      color: #fff;
    }
  }
  &.yellow {
    background-color: $printa-yellow;
    p {
      color: $printa-dark;
    }

    span {
      color: #fff;
    }
  }
  &.magenta {
    background-color: $printa-mangeta;
    p {
      color: $printa-dark;
    }

    span {
      color: #fff;
    }
  }

  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px 0 50px 0;
  background-color: #000;
  p {
    font-size: 20px;
    color: #fff;
  }
  img {
    margin-bottom: 20px;
  }
  span {
    color: #9B9B9B;
  }
}

.lugar {
  p {
    font-size: 30px;
  }
}

.circle {
  border: 3px solid #000;
  border-radius: 18px;
  height: 30px;
  width: 30px;
  margin: auto;
  cursor: pointer;
  @include transition(0.4s);
  background-color: #fff;
  z-index: 5;
  &:hover {
    background-color: #000;
  }
}

.circlesel {
  border: 3px solid #000;
  border-radius: 18px;
  height: 30px;
  width: 30px;
  margin: auto;
  cursor: pointer;
  @include transition(0.4s);
  background-color: #000;
  z-index: 5;
  &:hover {
    background-color: #000;
  }
}

a.active.gray > .circle {
  border: 3px solid #000;
  border-radius: 18px;
  height: 30px;
  width: 30px;
  margin: auto;
  cursor: pointer;
  @include transition(0.4s);
  background-color: #B7B7B7;
  z-index: 5;
  pointer-events: none;

  &.colored {
    background: repeating-linear-gradient(
                    135deg,
                    #1CAAE7,
                    #1CAAE7 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &.magenta {
    background: repeating-linear-gradient(
                    135deg,
                    $printa-mangeta,
                    $printa-mangeta 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &.yellow {
    background: repeating-linear-gradient(
                    135deg,
                    $printa-yellow,
                    $printa-yellow 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &:hover {
    cursor: not-allowed;
  }
}

.circle.disabled {
  pointer-events: none !important;

  &:hover {
    pointer-events: none !important;
  }
}

a.active.gray ~ p {
  font-family: inherit;
}

a.gray > .circle {
  border: 3px solid #000;
  border-radius: 18px;
  height: 30px;
  width: 30px;
  margin: auto;
  cursor: pointer;
  @include transition(0.4s);
  background-color: #B7B7B7;
  z-index: 5;
  pointer-events: none;

  &.colored {
    background: repeating-linear-gradient(
                    135deg,
                    #1CAAE7,
                    #1CAAE7 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &.magenta {
    background: repeating-linear-gradient(
                    135deg,
                    $printa-mangeta,
                    $printa-mangeta 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &.yellow {
    background: repeating-linear-gradient(
                    135deg,
                    $printa-yellow,
                    $printa-yellow 1px,
                    #fff 1px,
                    #fff 4px
    ) !important;
  }

  &:hover {
    cursor: not-allowed;
  }
}

a.gray ~ p {
  font-family: inherit;
}

.pasos {
  margin-top: 60px;
  margin-bottom: 50px;
  p {
    margin-top: 30px;
  }
}

.middleline {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  top: 18px;
  z-index: -1;
}

.middlelineleft {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000;
  top: 18px;
  right: 0;
  z-index: -1;
}

.middlelineright {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: #000;
  top: 18px;
  left: 0;
  z-index: -1;
}

.bigtitle {
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}

form {
  input[type="text"],
  input[type="number"],
  input[type="time"],
  input[type="email"],
  input[type="search"],
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #A7A9AC;
    font-size: 16px;
    padding: 10px 0;
    color: #333;
    margin-bottom: 25px;
    @include transition(0.4s);
    &:focus {
      border-bottom: 1px solid #000;
    }
  }
  input[type="submit"] {
    display: block;
    text-align: center;
    border: 2px solid #000;
    color: #000;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    background: none;
    @include border-radius(30px);
    @include transition(0.6s);
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

select#select-lugar:after {
  content: '<>';
  font: 9px "Consolas", monospace;
  color: #808080;
  position: absolute;
  right: 8px;
  top: 3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

label.select {
  position: relative;
}

label.selectspecial2 {
  &:after {
    top: 11px;
  }
}

select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #A7A9AC;
  font-size: 16px;
  padding: 4px 0 0 0;
  color: #333;
  margin-bottom: 25px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 40px;
}

select[disabled]{
  color: graytext;  
}

select.selectespecial {
  width: 90% !important;
  font-size: 14px;
  height: 38px;
  position: relative;
}

.marginbottom {
  margin-bottom: 30px;
}

.margintop {
  margin-top: 30px;
}

.margintopbig {
  margin-top: 60px;
}

input[disabled]{
  background-color: transparent;
  color: graytext !important;
}

input[type=radio].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left: 28px;
  height: 23px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -23px;
}

label.css-label {
  background-image: url("../img/checkboxes.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label-check {
  padding-left: 46px;
  height: 23px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label-check {
  background-position: 0 -23px;
}

label.css-label-check {
  background-image: url("../img/toggle.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*check sin gris*/

input[type=checkbox].css-checkbox + label.css-label-check-discount {
  padding-left: 46px;
  height: 23px;
  display: inline-block;
  line-height: 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 16px;
  vertical-align: middle;
  cursor: pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label-check-discount {
  background-position: 0 -23px;
}

label.css-label-check-discount {
  background-image: url("../img/pdfToggle2.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectdiv {
  margin-top: 25px;
}

.thumb {
  margin-bottom: 25px;
  span {
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: 2px;
  }
  i {
    font-size: 20px;
    display: inline-block;
  }
}

.progressthumb {
  margin-bottom: 10px;
  position: relative;
  height: 12.5vw;
  background-repeat: no-repeat;

  &.pdf{
    background-image: url("../img/PDFCheck.svg");

    &.not-configured {
      background-image: url("../img/PDFAlertRed.svg");
      &:hover{
        background-image: url("../img/PDFConfigRed.svg");
      }
    }
  
    &:hover{
      background-image: url("../img/PDFConfig.svg");
    }

  }

  &.psd{
    background-image: url("../img/PsdCheck.svg");

    &.not-configured {
      background-image: url("../img/psdAlertRed.svg");
      &:hover{
        background-image: url("../img/psdConfigRed.svg");
      }
    }
  
    &:hover{
      background-image: url("../img/PsdConfig.svg");
    }

  }

  &.ai{
    background-image: url("../img/AiCheck.svg");

    &.not-configured {
      background-image: url("../img/aiAlertRed.svg");
      &:hover{
        background-image: url("../img/aiConfigRed.svg");
      }
    }
  
    &:hover{
      background-image: url("../img/AiConfig.svg");
    }

  }

  &.dwg{
    background-image: url("../img/dwgCheck.svg");

    &.not-configured {
      background-image: url("../img/dwgAlertRed.svg");
      &:hover{
        background-image: url("../img/dwgConfigRed.svg");
      }
    }
  
    &:hover{
      background-image: url("../img/dwgConfig.svg");
    }

  }

}

.loader-container {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 10;

  &.pdf{
    background-image: url("../img/PDFLoadingFile.svg");
  }
  &.dwg{
    background-image: url("../img/dwgBlank.svg");
  }
  &.psd{
    background-image: url("../img/psdBlank.svg");
  }
  &.ai{
    background-image: url("../img/aiBlank.svg");
  }
  
}

.loader-wrapper {
  top: 75%;
  position: relative;
  height: 85%;
  width: 60%;
  margin: 0 auto;
  transform: translateY(-50%);
}

.addthumb {
  border: 1px solid #808080;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  width: 40%;
  margin: 3rem 5% 0 4.8% !important;

  i {
    display: inline-block;
    font-size: 36px;
  }
  p {
    margin: 0;
  }
  &:hover {
    border: 1px dashed #000;
  }

  input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.paso1 {
  margin-bottom: 50px;
}

.caracteristicas {
  background-color: #fff;
  border: 2px solid #000;

  select {
    padding-left: 0.5rem;
  }
}

.topcar {
  background-color: #000;

  &.colored {
    background-color: $printa-blue;

    p {
      color: $printa-dark;
    }
  }

  &.magenta {
    background-color: $printa-mangeta;

    p {
      color: $printa-dark;
    }
  }

  &.yellow {
    background-color: $printa-yellow;

    p {
      color: $printa-dark;
    }
  }

  p {
    font-size: 26px;
    color: #fff;
    margin: 0;
    padding: 28px 0 25px 0;
  }
}

.bottomcar {
  padding: 20px 0 40px 0;
  p {
    color: #939598;
  }
}

.tipoimpre {
  margin-top: 3%;
  margin-bottom: 3%;
}

#print-settings-wrapper{
  .grid-4-xs{
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

#cut-settings-wrapper{
  .grid-4-xs, .grid-6-xs {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

#vinyl-settings-wrapper{
  .grid-5-xs, .grid-10-xs {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

.opto {
  margin: 10px 0 25px 0;
}

.loadgif {
  width: 15px;
  height: 15px;
}

.tg {
  width: 100%;
  th {
    padding: 15px 0;
  }
  td {
    padding: 12px 0;
  }
}

.deletefile {
  color: #808080;
  cursor: pointer;
  position: relative;
  top: 2px;
  &:hover {
    color: #000;
  }
}

.tdborder {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 20px 0 !important;
}

#loadpaso3 {
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.metodopago {
  &:hover {
    opacity: 0.8;
  }
}

.palitoblack {
  position: absolute;
  left: 29px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #808080;
}

.palitoblack.sel {
  position: absolute;
  left: 28px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #000;
}

.palitoblack.sel ~ p.tituloblack {
  font-family: 'HelveticaNeueLTStd-Bd', helvetica;
}

.tituloblack {
  margin: 0;
  padding: 25px 0;
  margin-left: 70px;
}

.circleabsiup,
.circleabsdown {
  @include border-radius(50%);
  height: 7px;
  width: 7px;
  margin: auto;
  cursor: pointer;
  @include transition(0.4s);
  background-color: #000;
  z-index: 5;
}

.circleabsiup {
  position: absolute;
  top: 0;
  left: 26px;
}

.maincontent {
  position: relative;
  min-height: 100vh;
}

.circleabsdown {
  position: absolute;
  bottom: -3px;
  left: 26px;
}

#acabad {
  width: 145px;
  height: 177px;
  margin: auto;
}

#menu {
  position: fixed;
  left: -320px;
  top: 0;
  z-index: 2000;
  background-color: #000;
  width: 320px;
  height: 100%;

  #menu-container {
    position: relative;
    height: 100%;
  }

  p {
    color: #fff;
    margin-top: 30px;
  }
  a {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 12px 0;
    padding-left: 25px;
    &:hover {
      cursor: pointer;
      background-color: #333;
    }
  }
  a.sel {
    background-color: #333;
  }
  .linksocial {
    padding: 12px;
    display: inline-block;
  }
  .icon-social-facebook {
    margin-left: 13px;
  }
}

a#menu-log-out {
  position: absolute;
  bottom: 2.5rem;
  width: calc(100% - 25px);
}

.pedidos {
  margin-top: 35px;
  margin-bottom: 0;
}

.pedactivos {
  display: inline-block;
  margin-bottom: 20px;
}

.menuadmin {
  margin-bottom: 25px;
  a {
    display: inline-block;
    border: 2px solid #000;
    color: #000;
    padding: 10px 20px 8px 20px;
    @include transition(0.4s);
    @include border-radius(15px);
    font-size: 14px;
    &:hover {
      background-color: #000;
      color: #fff;
      cursor: pointer;
    }

    &.right {
      position: absolute;
      right: 0;
    }
  }
  a.sel {
    background-color: #000;
    color: #fff;
  }
}

.tg {
  width: 100%;
  text-align: left;
  td, th {
    font-size: 14px;
  }
}

.text-underline {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #808080;
  }
}

#detallesdiv,
#archivosdiv,
#vacaciones
{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#newproductdiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#editproductdiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#newitemdiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#edititemdiv {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#settings-div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

#advisory-settings-div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
}

.popup-div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  overflow: scroll;
  .container{
    margin:5% auto;
    .containerA{
      width: 50%;
      margin: 0 auto;
      .btnxclose{
        position: absolute;
        background: #000;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 30rem;
        margin-top: -1.5rem;
        margin-left: 36%;
        z-index: 1000;
      }
      img{
        position: relative;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.backwhite {
  background-color: #fff;
}

.blackcolor {
  color: #000 !important;
}

.infopersona {
  border-bottom: 1px solid #000;
  padding: 10px 0;
  margin-bottom: 25px;
  span {
    font-size: 20px;
  }
}

.closedetallesdiv,
.closearchivosdiv,
.closeVacation{
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

div.home-pasos-div {
  margin-top: 2rem;

  span {
    font-size: 0.9rem;
  }
}

p.payment-status-info {
  margin-top: -1rem;
}

img.home-pasos-img {
  width: 75%;
  display: block;
  position: relative;
  margin: 2rem auto;
}

.font24 {
  font-size: 24px !important;
}

.document-in-grid {
  cursor: pointer;
}

.document-in-grid.disabled {
  cursor: not-allowed !important;
}

#login-svg {
  height: 28px;
  width: 28px;
  margin-top: -8px;
}

p.user-login-name {
  display: inline-block;
  font-style: normal;
  font-size: 1rem;
  vertical-align: middle;
}

#user-options-dropdown {
  background-color: #fff;
  border: 1px solid #BABABA;
  position: absolute;
  right: 0;
  font-size: 1rem;
  font-style: normal;
  text-align: left;
  cursor: initial;
  z-index: 100000;
  min-width: 115px;

  li {
    padding: 0.5rem;
    cursor: pointer;
    list-style: none;

    &:hover {
      background-color: #EEEEEE;
    }
  }
}

#user-login-item {
  position: relative;
}

.auth0-lock.auth0-lock {

  .auth0-lock-header-logo {
    width: auto;
  }

  .auth0-lock-input-wrap .auth0-lock-input {
    margin-bottom: 0;
  }
}

.price-explanation {
  margin-top: 0;
  color: #666;
  font-size: 0.75rem;
}

#menu {
  position: fixed;
  left: -320px;
  top: 0;
  z-index: 2000;
  background-color: #000;
  width: 320px;
  height: 100%;
  p {
    color: #fff;
    margin-top: 30px;
  }
  a {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 12px 0;
    padding-left: 25px;
    &:hover {
      background-color: #333;
    }
  }
  a.sel {
    background-color: #333;
  }
  .linksocial {
    padding: 12px;
    display: inline-block;
  }
  .icon-social-facebook {
    margin-left: 13px;
  }
}

/**
 * Progress bar
 */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #000, 0 0 5px #000;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #000;
  border-left-color: #000;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
 * Upload spinner
 */

.loader {
  margin: auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  overflow: hidden;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  #divisor-home {
    display: none;
  }

  #logohead {
    height: auto !important;
    width: 40px;
  }

  .navbar-left-items-container {
    padding: 0.5rem 0;
  }
}

.acabados-adicionales{
  .grid-3-xs{
    margin-bottom: 2%;
  }
}

div#acabados-adicionales-titulo {
  display: flex;
  flex-direction: row;

  h4 {
    white-space: nowrap;
  }

  hr.settings-section-divider {
    box-sizing: content-box;
    margin-left: 0.5rem;
    width: 100%;
    border-top: 1px solid #A7A9AC;
  }
}

form {
  textarea#instrucciones {
    padding: 0.25rem;
    border: 1px solid #A7A9AC;
    margin-bottom: 0;
    margin-top: 2%;
  }
}

h5 {
  margin: 0;
  font-size: 0.95rem;
}

#relaja-pelvis-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  p {
    white-space: nowrap;
    margin: 0 2rem 0 0;
  }

  select {
    margin: 0 !important;
    padding-left: 0.5rem;
  }
}

#faq-container {
  h1{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
  }
  ul {
    li {
      h2 {
        cursor: pointer;
      }
      p{
        line-height: 1.4rem;
        font-size: 0.9rem;
      }
    }
  }
}

[data-accordion] [data-control] {
  padding-right: 0 !important;
}

[data-control], [data-content] > * {
  border-bottom: none !important;
  padding: 0 !important;
}

#rlp-logo {
  width: 100%;
  margin-bottom: 1rem;
}

#upload-bottom-buttons-container {
//   white-space: nowrap;
  margin-top: 1.5rem;
  margin-left: 5%;

//   a {
//     margin: 0;
//     display: inline-block;

//     &#continue-to-quote {
//       width: 66.6666%;
//     }

//     &#start-over-button {
//       width: 33.3333%;
//     }
//   }
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

a#top-instagram-logo svg {
  vertical-align: baseline;
  width: 1.25rem;
  margin-left: 0.5rem;
}

a#menu-instagram-logo svg {
  vertical-align: baseline;
  width: 1rem;
  fill: #fff;
}

.socialheaderight .icon-social-facebook:hover {
  color: #333 !important;
}

a#time-popup-accept {
  margin: 0 auto -1rem;
}

.time-popup-content {
  font-size: 1.5rem;

  h3 {
    text-align: center;
    margin-top: 2.5rem;
  }

  p {
    color: #333;
    text-align: center;
    margin: 0.5rem auto;
  }
}

#newproductdiv {
  input {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    padding-left: 0.25rem;

    &[type=number] {
      width: 80%;
    }

    &[list] {
      width: 100%;

      &#available-products-input {
        width: 60%;
      }
    }
  }
}

#editproductdiv {
  input {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    padding-left: 0.25rem;

    &[type=number] {
      width: 80%;
    }

    &[list] {
      width: 100%;

      &#available-products-input {
        width: 60%;
      }
    }
  }
}

#newitemdiv {
  input {
    margin-bottom: 0.75rem;
    font-family: 'HelveticaNeueLTStd-Lt', helvetica;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    padding-left: 0.25rem;

    &[type=number] {
      // width: 80%;
    }

    &[type=date] {
      width: 100%;
      padding: 10px 0;
    }

    &[list] {
      width: 100%;

      &#available-products-input {
        width: 60%;
      }
    }
  }
}

#edititemdiv {
  input {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #000;
    padding-left: 0.25rem;

    &[type=number] {
      width: 80%;
    }

    &[list] {
      width: 100%;

      &#available-products-input {
        width: 60%;
      }
    }
  }
}

tr.inside-product-unique-header {
  th {
    color: #666;
    font-weight: normal;
    font-family: 'HelveticaNeueLTStd-Lt', helvetica;
    font-style: italic;
  }
}

#fbmessenger {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5000;
  background-color: #1CAAE7;
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  i {
    position: relative;
    top: 2px;
    margin-right: 8px;

    &.fb-messenger-svg {
      svg {
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: text-bottom;

        path {
          fill: #fff;
        }
      }
    }
  }
  &:hover {
    background-color: #1165aa;
  }
}

body {
  .auth0-lock.auth0-lock .auth0-lock-overlay {
    background: rgba(34, 34, 40, 0.94);
  }

  .auth0-lock.auth0-lock.auth0-lock-opened .auth0-lock-widget {
    //box-shadow: 0 0 0 0 #000;
  }

  .auth0-lock-container * {
    border-radius: 0 !important;
  }

  /**
   * These are the header classes
   */
  /* This decides the height */
  .auth0-lock.auth0-lock .auth0-lock-header {
    height: auto;
  }
  .auth0-lock-name {
    display: none;
  }

  .auth0-lock-header-bg-blur {
    background-image: none !important;
  }

  .auth0-lock.auth0-lock .auth0-lock-header-bg {
    background: transparent !important;
  }

  .auth0-lock-back-button {
    box-shadow: none !important;
  }

  .auth0-lock-close-button {
    box-shadow: none !important;
  }

  .auth0-lock-form {
    //margin: 0 -20px -20px !important;

    > div {
      > div:nth-of-type(4) {
        background-color: #000;
        padding: 10px 20px 15px;
        margin: 0 -20px -20px;

        * {
          color: #fff !important;
        }
      }
    }
  }

  .auth0-lock-content {
    padding-top: 0 !important;
  }

  button.auth0-lock-social-button {
    border-radius: 500px !important;

    &[data-provider=facebook] {
      background-color: rgb(0, 169, 234) !important;
    }

    &[data-provider=google-oauth2] {
      background-color: rgb(238, 64, 102) !important;
    }
  }

  .auth0-lock.auth0-lock .auth0-lock-tabs-container {
    margin: 0 -20px 20px !important;
  }

  .auth0-lock-tabs {
    border: none !important;
    background-color: rgb(128, 128, 128) !important;

    * {
      color: #fff !important;
    }

    li {
      a {
        padding: 15px 10px !important;
      }
    }

    .auth0-lock-tabs-current {
      background-color: #000 !important;
    }
  }

  button.auth0-lock-submit {
    background-color: #000 !important;
  }

  input.auth0-lock-input {
    background-color: transparent !important;
  }

  .auth0-lock.auth0-lock .auth0-lock-input-wrap {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #fff !important;
    background: transparent !important;

    span svg path {
      fill: #fff !important;
    }
  }
}

i.icon-plus.colored {
  color: $printa-blue;
}

i.icon-plus.magenta {
  color: $printa-mangeta;
}

i.icon-plus.yellow {
  color: $printa-yellow;
}

.accordion{
  .tdsel{
    background-color: #000;
    color: #fff;

    a {
      color: #fff;
    }
  }
}

button#continue-to-quote {
  width: 66.6666%;
}

.code-box {
  color: #838383;
  text-align: center;
  margin-top: 3rem;
}

.show-code {
  font-size: 3rem;
}

.enable-switch {
  font-size: 40px;
  position: relative;
  top: 6px;
}

.metricas {
  position: fixed;
  width: 33%;
  height: 8%;
  background-color: #000;
  z-index: 999;
  bottom: 0px;
  left: 20px;
  display: inline-block;
  color: #fff;
  padding: 0.5rem 0.8rem;

  .tg th {
    padding: 5px 0;
  }

}

.metricas-places{
  position: fixed;
  width: 23%;
  height: 8%;
  background-color: #000;
  z-index: 999;
  bottom: 0px;
  left: 20px;
  display: inline-block;
  color: #fff;
  padding: 0.4rem 0.4rem;

  .tg th {
    padding: 5px 0;
  }

}

.required {
  color: #c0392b;
}

.month{
  background-color: black;
  color: white;
  font-family: 'HelveticaNeueLTStd-Bd', helvetica;
}

#boxwhite{
  margin-top: 4rem;
  margin-bottom: 4rem;
  .palo{
    background-color: #000;
    width: 5px;
    height: 55%;
    top: 25%;
    left: 20%;
    position: relative;
  }
  .tipscont {
    text-align: right;
    .title{
      font-size: 20px;
      padding-bottom: 0;
      color: #000;
      &:hover{
        opacity: inherit;
      }
    }
    .text{
      color: #9B9B9B;
      padding-top: 0;
      &:hover{
        opacity: inherit;
      }
    }
  }
  .contbuttons{
    margin-top: 8rem;
  }
}
.videocontainer{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.boxblack{
  background-color: #000;
  padding: 6rem 0;
}
.commentsbox{
  .arrow{
    padding-top: 60%;
    a{
      cursor: pointer;
    }
  }
  img{
    height: 230px;
    border-radius: 175px;
    width: auto;
  }
  .title{
    font-size: 20px;
    padding-bottom: 0;
    color: #000;
    margin-bottom: 0;
  }
  .commenttext{
    margin-top: 5%;
  }
}

.usechrome{
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
  a{
    color: #fff;
  }
  .alertimage{
    vertical-align: middle;
    width: 20px;
  }
  .closebtn{
    position: absolute;
    vertical-align: middle;
    top: 10%;
    right: 1%;
    cursor: pointer;
  }
}

.therms{
  margin: initial;
  p{
    padding: 0 0 0 40px;
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
  }
}

.corporate{
  .title{
    padding-bottom: 1rem !important;
  }
  .text{
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.palocontcorp{
  .palo{
    height: 72% !important;
    top: 35% !important;
  }
}
.user-order{
  border-right: 1px solid #000;
  padding-right: 0.6em;
  display: inline-block;
  font-style: normal;
  font-size: 1rem;
  vertical-align: middle;
}

.content-mapa{
    padding: 0;
    .horarios{
      padding-top: 3rem;
      .palo{
        background-color: #fff;
        width: 5px;
        height: 55%;
        top: 25%;
        left: 20%;
        position: relative;
      }
      .tipscont {
        text-align: right;
        .title{
          font-size: 20px;
          padding-bottom: 0;
          color: #fff;
          &:hover{
            opacity: inherit;
          }
        }
        .text{
          color: #9B9B9B;
          padding-top: 0;
          &:hover{
            opacity: inherit;
          }
        }
      }
    }
}

.content-discount-toogle{
  margin-top: 1.75rem;
}

.sad-sheet{
  background-image: url("../img/PrintaTriste.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 1%;
  height: 15rem;
}
