
@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-Bd.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-Bd.woff') format('woff'), url('HelveticaNeueLTStd-Bd.ttf')  format('truetype'), url('HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTStd-Lt.otf')  format('opentype'),
	     url('HelveticaNeueLTStd-Lt.woff') format('woff'), url('HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'HelveticaNeueLTStd-Lt', helvetica;
}

.helvetica-normal {
    font-family: 'HelveticaNeueLTStd-Lt', helvetica;
}

.helvetica-bold {
    font-family: 'HelveticaNeueLTStd-Bd', helvetica;
}